<!-- core mobile mode -->
<div id="main-header" data-role="header" data-id="mobile-header" data-position="fixed" data-tap-toggle="false" style="overflow:hidden;">
    <div id="videoPagesNav" data-role="navbar">
    <!-- Space to insert Video Tabs here -->
    </div><!-- /navbar -->
</div>
<div role="main" class="ui-content" id="content-box">
    <div id="engage_content" class="container">
        <!-- Videodisplay plugin container -->
        <div id="engage_video" align="center"></div>
    </div>
</div>
<!-- Sidebar
<div data-role="panel" id="sidebar" data-display="overlay" data-theme="b">
    <div class="panel-content">
        <% if(typeof title !== "undefined" ){ %>
            <h4><%= description %></h4>
        <% }else { %> 
            <h4>Description</h4>
        <% } %>
        <div id="engage_description"></div>
        <div id="video-displays"></div>
    </div>
</div> /Sidebar -->
<!-- Footer with Control Elements -->
<div data-role="footer" data-position="fixed" data-id="mobile-footer" data-tap-toggle="false">
    <div id="engage_description"></div>
    <div id="engage_controls"></div>
</div>