<!-- Core Desktop Modus -->
<!-- Controls plugin container -->
<div id="engage_top_bar">
    <!-- Controls Plugin Container -->
    <div id="engage_controls"></div>
    <!-- Timeline Plugin Container -->
    <div id="engage_timeline_plugin"></div>
    <div id="engage_timeline_expand_btn">
        <img id="engage_timeline_expand_btn_img" src="img/pulldown.png" />
    </div>
</div>
<!-- Content container -->
<div id="engage_content" class="container">
    <!-- Videodisplay plugin container -->
    <div id="engage_video"></div>
    <div class="clear"></div>
    <div id="information_wrapper">
        <!-- description plugin container -->
        <div id="engage_description"></div>
        <!-- tab plugins container -->
        <ul id="engage_tab_nav" class="nav nav-tabs"></ul>
        <div id="engage_tab_content" class="tab-content"></div>
    </div>
</div>
