<!-- content container -->
<div id="engage_content">
    <div id="engage_controls_second"></div>
    <!-- videodisplay plugin container -->
    <div id="engage_resize_container">
        <div id="engage_video"></div>
        <div id="engage_top_bar">
    </div>
        <!-- controls plugin container -->
        <div id="engage_controls"></div>
        <!-- timeline plugin container -->
        <div id="engage_timeline_plugin"></div>
        <div id="engage_timeline_expand_btn">
            <img id="engage_timeline_expand_btn_img" src="img/pulldown.png" />
        </div>
    </div>
    <div class="clear"></div>
    <div id="information_wrapper">
        <!-- description plugin container -->
        <div id="engage_description"></div>
        <div class="clear"></div>
        <!-- tab plugins container -->
        <ul id="engage_tab_nav" class="nav nav-tabs"></ul>
        <div id="engage_tab_content" class="tab-content"></div>
    </div>
</div>
