<!-- theodul controls plugin mobile mode -->
<div class="mobile-control-box" align="center">
	<table id="controls-table" border="0" cellpadding="4" width="100%">
		<td align="center">
			<a href="#" id="playpause_controls" class="mobile-control-element">
			<img id="play_button" class="playpause_btn" src="<%= plugin_path %>images/play.png" /> 
        	<img id="pause_button" class="playpause_btn" style="display: none;" src="<%= plugin_path %>images/pause.png" />
    		</a>
		</td>
		<td align="center">
			<a href="#" id="backward_button" class="mobile-control-element">
    		<img src="<%= plugin_path %>images/backward.png" />
    		</a>
		</td>
		<td align="center">
			<a href="#" id="forward_button" class="mobile-control-element">
    		<img src="<%= plugin_path %>images/forward.png" />
    		</a>
		</td>
		<td align="center">
			<a href="#" id="fullscreen_button" class="mobile-control-element">
    		<img src="<%= plugin_path %>images/fullscreen.png" />
    		</a>
		</td>
	</table>
</div>