<div id="navigation_wrapper">
    <div id="navigation_control">
        <div id="backward_button" class="controlbutton">
            <img src="<%= plugin_path %>images/backward.png" />
        </div>
        <div id="playpause_controls" class="controlbutton">
            <img id="play_button" class="playpause_btn" src="<%= plugin_path %>images/play.png" /> 
            <img id="pause_button" class="playpause_btn" style="display: none;" src="<%= plugin_path %>images/pause.png" />
        </div>
        <div id="forward_button" class="controlbutton">
            <img src="<%= plugin_path %>images/forward.png" />
        </div>
        <div class="clear"></div>
    </div>
    <div id="volume"></div>
    <div class="volume_icon" id="volumeIcon">
        <img id="unmute_button" class="mute_btn" src="<%= plugin_path %>images/volume.png" />
        <img id="mute_button" class="mute_btn" style="display: none;" src="<%= plugin_path %>images/volumeMuted.png" /> 
    </div>
    <div id="navigation_time">
        <% if((typeof startTime !== "undefined") && (typeof duration !== "undefined")) { %>
        <input id="navigation_time_current" class="form-control" type="text" value="<%= startTime %>" /><span id="navigation_time_current_overview"> / <span id="navigation_time_duration"><%= duration %></span></span>
        <% } else { %>
        <input id="navigation_time_current" type="text" value="00:00:00" /><span> / <span id="navigation_time_duration">00:00:00</span></span>
        <% } %>
    </div>
    <!-- ##### Logo ##### -->
    <div id="navigation_logo">
        <% if(typeof logoLink !== "undefined") { %>
        <a href="<%= logoLink %>">
        <% } %>
        <img src="<%= plugin_path %>images/logo.png" />
        <% if(typeof logoLink !== "undefined") { %>
        </a>
        <% } %>
    </div>
    <!-- ##### Navigation ##### -->
    <div id="menu">
        <div class="btn-group">
            <div class="btn-group">
                <button id="dropdownMenuPlaybackRate" class="btn btn-default dropdown-toggle disabled" type="button" data-toggle="dropdown">
                <span class="glyphicon glyphicon-time"></span>
                <span id="playbackRateIndicator">1.0</span>
                <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li role="presentation"><a id="playback050" role="menuitem" tabindex="-1" href="#">0.5</a></li>
                    <li role="presentation"><a id="playback075" role="menuitem" tabindex="-1" href="#">0.75</a></li>
                    <li role="presentation"><a id="playback100" role="menuitem" tabindex="-1" href="#">1.0</a></li>
                    <li role="presentation"><a id="playback125" role="menuitem" tabindex="-1" href="#">1.25</a></li>
                    <li role="presentation"><a id="playback150" role="menuitem" tabindex="-1" href="#">1.5</a></li>
                </ul>
            </div>
            <button id="fullscreen_button" type="button" class="btn btn-default disabled">
            <span class="glyphicon glyphicon-fullscreen"></span>
            </button>
        </div>
        <div class="btn-group">
            <button id="embed_button" class="btn btn-default dropdown-toggle disabled" type="button" data-toggle="dropdown">
            <span class="glyphicon glyphicon-share"></span>
            <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li role="presentation"><a id="embed0" role="menuitem" tabindex="-1" href="#"></a></li>
                <li role="presentation"><a id="embed1" role="menuitem" tabindex="-1" href="#"></a></li>
                <li role="presentation"><a id="embed2" role="menuitem" tabindex="-1" href="#"></a></li>
                <li role="presentation"><a id="embed3" role="menuitem" tabindex="-1" href="#"></a></li>
                <li role="presentation"><a id="embed4" role="menuitem" tabindex="-1" href="#"></a></li>
            </ul>
        </div>
    </div>
    <div class="clear"></div>
    <!-- ##### Slider ##### -->
    <div id="slider"></div>
    <div id="segment_wrapper">
        <% if((typeof durationMS !== "undefined") && (typeof segments !== "undefined") && (segments.length > 0)) { var i = 0; %>
        <% _.each(segments, function(segment) { %>
        <div id="segment_<%= i %>" class="segment" style="width: <%= parseFloat((segment.duration) / durationMS * 100).toFixed(2) %>%">
            <span id="segment_<%= i %>_span" class="segmentspan"><%= segment.time %></span>
        </div>
        <% ++i; }); %>
        <% } %>
    </div>
</div>
<!-- end Navigation -->
