/*Core global css rules*/

* {
  margin: 0;
  padding: 0;
  outline: none !important;
}

.clear {
  clear: both;
}

.noJavaScript {
	margin: 5%;
}

.alert>ul {
	margin: 10px 0px 0px 50px;
}

#engage_view, #browserWarning {
  display: none;
}

/* Loading Aninimation*/
@-webkit-keyframes spin {
from { -webkit-transform: rotate(0deg); }
to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes spin {
from { -moz-transform: rotate(0deg); }
to { -moz-transform: rotate(360deg); }
}

@-o-keyframes spin {
from { -o-transform: rotate(0deg); }
to { -o-transform: rotate(360deg); }
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
 
/* Loading animation container */
.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 28px;
    height: 28px;
    margin: -14px 0 0 -14px;
}
 
/* Spinning circle (inner circle) */
.loading .maskedCircle {
    width: 20px;
    height: 20px;
    border-radius: 12px;
    border: 3px solid black;
}
 
/* Spinning circle mask */
.loading .mask {
    width: 12px;
    height: 12px;
    overflow: hidden;
}
 
/* Spinner */
.loading .spinner {
    position: absolute;
    left: 1px;
    top: 1px;
    width: 26px;
    height: 26px;
  -webkit-animation: spin 1s infinite linear;
  -moz-animation: spin 1s infinite linear;
  -o-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}}