/*Core desktop css rules*/

body {
  min-width: 750px;
  font-family: Arial, sans-serif;
}

#page-cover {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 990;
    top: 0;
    left: 0;
}

#btn_fullscreenCancel {
    z-index: 999;
	float: right;
	margin: 30px 30px 0px 0px;
}

h1,h2,h3 {
  font-weight: normal !important;
  line-height: 22px !important;
}

#engage_tab_content {
  padding: 5px 0px 10px 20px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  min-width: 750px;
}

#engage_content {
    width: 98%;
}

#engage_video {
  margin-top: 110px;
}

#engage_controls {
  width: 100%;
  height: 97px;
  background-color: #ffffff;
}

#engage_top_bar {
  width: 100%;
  height: 90px;
  position: fixed;
  background-color: #ffffff;
  z-index: 1;
}

/* Expanded Header */

#engage_timeline_expand_btn {
  width: 40px;
  height: 40px;
  padding: 7px;
  background: #dddddd;
  position: fixed;
  right: 20px;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
}

#engage_timeline_expand_btn:hover {
  cursor: pointer;
}

.engage_timeline_expand_btn_rotate180 {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

#engage_timeline_plugin {
  display: none;
  width: 100%;
  min-width: 750px;
  background: #f9f9f9;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  padding: 10px 20px;
}
