* {
  margin: 0;
  padding: 0;
  outline: none !important;
}

.clear {
  clear: both;
}

body {
  min-width: 485px;
  font-family: Arial, sans-serif;
}

h1,h2,h3 {
  font-weight: normal !important;
  line-height: 22px !important;
}

#engage_tab_content {
  padding: 0px 20px;
}

#engage_view{
	display: none;
}

#engage_video {
	margin-top: 110px;
}

#engage_controls {
	width: 100%;
	height: 97px;
	background-color: #ffffff;
}

#engage_top_bar {
  width: 100%;
  height: 90px;
  position: fixed;
  background-color: #ffffff;
  z-index: 1;
}

/* Expanded Header */

#engage_timeline_expand_btn {
  width: 23px;
  height: 23px;
  padding: 5px;
  margin-top: 1px;
  background: #dddddd;
  position: fixed;
  right: 20px;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
}

#engage_timeline_expand_btn:hover {
  cursor: pointer;
}

.engage_timeline_expand_btn_rotate180 {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

#engage_timeline_plugin {
  display: none;
  width: 100%;
  background: #f9f9f9;
  border-top: 1px solid #e3e3e3;
  padding: 10px 20px;
}

/* Loading Aninimation*/
@-webkit-keyframes spin {
from { -webkit-transform: rotate(0deg); }
to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes spin {
from { -moz-transform: rotate(0deg); }
to { -moz-transform: rotate(360deg); }
}

@-o-keyframes spin {
from { -o-transform: rotate(0deg); }
to { -o-transform: rotate(360deg); }
}

@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}
 
/* Loading animation container */
.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 28px;
    height: 28px;
    margin: -14px 0 0 -14px;
}
 
/* Spinning circle (inner circle) */
.loading .maskedCircle {
    width: 20px;
    height: 20px;
    border-radius: 12px;
    border: 3px solid black;
}
 
/* Spinning circle mask */
.loading .mask {
    width: 12px;
    height: 12px;
    overflow: hidden;
}
 
/* Spinner */
.loading .spinner {
    position: absolute;
    left: 1px;
    top: 1px;
    width: 26px;
    height: 26px;
	-webkit-animation: spin 1s infinite linear;
	-moz-animation: spin 1s infinite linear;
	-o-animation: spin 1s infinite linear;
	animation: spin 1s infinite linear;
}