/* core global css rules*/

* {
  margin: 0;
  padding: 0;
  outline: none !important;
}
 
/* loading animation container */
.loading {
	display: none;
	position: absolute;
    top: 10%;
    left: 10%;
	width: 50%;
	font-weight: bold;
}

#loading1 {
	display: none;
}

#loading2 {
	display: none;
}

.progress {
	margin: 10px 0px 0px 0px;
}

.clear {
  clear: both;
}

.noJavaScript {
	margin: 5%;
}

#customError {
	margin: 5%;
	display: none;
}

.alert>ul {
	margin: 10px 0px 0px 50px;
}

#browserWarning {
	display: none;
	margin: 5%;
}

#engage_view {
  display: none;
}
