/* core global css rules*/

* {
  margin: 0;
  padding: 0;
  outline: none !important;
}
 
/* loading animation container */
.loading {
	display: none;
	position: absolute;
    top: 10%;
    left: 10%;
	width: 50%;
	font-weight: bold;
}

#loadingProgressbar1, #loadingProgressbar2 {
	background-color: #9C9C9C;
}

#loading1 {
	display: none;
}

#loading2 {
	display: none;
}

.progress {
	margin: 10px 0px 0px 0px;
}

.clear {
  clear: both;
}

.noJavaScript {
	margin: 20px 0px 0px 20px;
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
	padding: 15px;
	border: 1px solid transparent;
	border-radius: 4px;
	width: 350px;
}

#noJavaScript-container {
	font-weight: bold;
}

#noJavaScript-container a {
	color: #843512;
	font-weight: 700;
	text-decoration: none;
}

#noJavaScript-container a:hover {
	text-decoration: underline;
	outline: 0;
}

:before, :after {
	box-sizing: border-box;
}

#customError {
	margin: 20px 0px 0px 20px;
	display: none;
	width: 350px;
}

#customError_btn-container {
	margin: 0 auto;
	margin-top: 10px;
	text-align: center;
}

#customError_str {
	margin-left: 3px;
	font-weight: bold;
}

.alert>ul {
	margin: 10px 0px 0px 50px;
}

#browserWarning {
	display: none;
	margin: 5%;
}

#engage_view {
  display: none;
}
