
.episodes-from-series {
    font-family: sans-serif;
    max-width: 400px;
}

.episodes-from-series ul {
    padding: 0px;
}

.episodes-from-series li {
    list-style: none;
    display: flex;
    gap: 7px;
    margin: 7px;
    max-width: 500px;
}

.episodes-from-series a {
    color: white;
    display: flex;
    border: 1px rgba(0,0,0,0) dashed;
    font-size: 0.9em;
    width: 100%
}

.episodes-from-series a:hover {
    color: grey;
    border: 1px lightsalmon dashed;
}

.episodes-from-series img {
    max-width: 120px;
    height: fit-content;
    margin-right: 5px;
}