.quiz-plugin-root {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 75%;
    padding: 1% 2%;
    z-index: 100;
    font-size: 1.3em;
    background-color: rgba(245,245,245,1);
    color: black;
    border-radius: 2px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.quiz-plugin-left {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
    min-height: 0;       /* scrolling */
    gap: 2vh;
}

.quiz-plugin-question {
    flex: 2;
    font-weight: bold;
    padding: 1em 0.5em;
    font-size: clamp(12px, 3cqw, 28px);
    background-color: rgba(180,180,180,1);
    overflow: auto;
}

.quiz-plugin-answers {
    display: flex;
    flex-direction: column;
    flex: 7;
    overflow: auto;
    min-height: 0;
    gap: 5px;
}

.quiz-plugin-answers label {
    display: block;
    padding: 0.5em;
    background-color: rgba(210,210,210,1);
}

.quiz-plugin-answers label input[type="checkbox"] {
    width: 2em;
    height: 1.3em;
}

.quiz-plugin-correct {
    background-color: #c8e6c9 !important; /* light green */
}

.quiz-bottom-buttons {
    display: flex;
    flex: 1;
    flexDirection: row;
    max-height: 50px;
    gap: 2vh;
    align-self: flex-end;
}

.quiz-submit-button {
    padding: 0.5em;
    background-color: rgba(180,180,180,1);
    border: none;
    font-size: inherit;
    align-self: flex-end;
}

.quiz-plugin-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.quiz-plugin-result {
    font-weight: bold;
}
.quiz-plugin-correct-list {
    margin-top: 0.5em;
}
