.quiz-plugin-root {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 75%;
    padding: 1% 2%;
    z-index: 100;
    font-size: 1.3em;
    background-color: rgba(245,245,245,1);
    color: black;
    border-radius: 2px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.quiz-plugin-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.quiz-plugin-content {
    display: flex;
    flex-direction: column;
}

.quiz-plugin-question {
    font-weight: bold;
    margin-bottom: 1em;
    padding: 1em 0.5em;
    font-size: 2em;
    height: 2em;
    background-color: rgba(180,180,180,1);
}

.quiz-plugin-answers label {
    display: block;
    margin: 1em 0;
    padding: 0.5em;
    background-color: rgba(210,210,210,1);
}

.quiz-plugin-answers label input[type="checkbox"] {
    width: 2em;
    height: 1.3em;
}

.quiz-plugin-correct {
    background-color: #c8e6c9 !important; /* light green */
}

.quiz-submit-button {
    margin-top: 1em;
    padding: 0.5em;
    background-color: rgba(180,180,180,1);
    border: none;
    font-size: inherit;
    align-self: flex-end;
}

.quiz-plugin-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.quiz-plugin-result {
    margin-top: 1em;
    font-weight: bold;
}
.quiz-plugin-correct-list {
    margin-top: 0.5em;
}
