.textbox-plugin-container {
    position: absolute;
    top: 1%;
    right: 1%;
    text-align: center;
    gap: 0.5vh;
    z-index: 100;

    display: flex;
    flex-direction: column;
}

/* .textbox-plugin-box {
    width: 12vw;
    height: 1.5vh;
    padding: 0.5vw;
    gap: 0.5vw;
    border-radius: 0.5vw;
    font-size: min(1vw, 1vh);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    color: white;
    fill: white;
    background-color: rgba(0,0,0,0.7);

    text-decoration: none;
} */

.textbox-plugin-box-details {
    width: clamp(100px, 14vw, 220px);
    padding: clamp(5px, 0.5vw, 10px);
    border-radius: clamp(5px, 0.5vw, 10px);
    font-size: clamp(14px, min(1vw, 1vh), 20px);

    color: white;
    fill: white;
    background-color: rgba(0,0,0,0.7);

    text-decoration: none;
}

.textbox-plugin-box-summary {
    display: flex;
}

.textbox-plugin-box-summary-link {
    display: flex;
    align-items: center;
    gap: 0.5em;
    flex: 1;
    min-width: 0;

    color: white;
    text-decoration: none;
}

/* Right-side dropdown arrow */
.textbox-plugin-box-summary::-webkit-details-marker {
  display: none;
}
.textbox-plugin-box-summary .right::after {
  content: "◂";
  padding: 0.5vw;
}
details[open] .textbox-plugin-box-summary .right::after {
  content: "▾";
  padding: 0.5vw;
}

.textbox-plugin-box-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
}

.textbox-plugin-box-icon {
    flex-shrink: 0;
    width: 1em;
    height: 1.1em;
    display: block;
}
