.textbox-plugin-box {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 10%;
    height: 10%;
    text-align: center;
    padding: 1% 1%;
    z-index: 100;
    font-size: 20px;
    overflow-wrap: break-word;
    background-color: rgba(0,0,0,0.6);
    color: white;
    box-sizing: border-box;
}
