body {
    background-color: #CCCCCC;
    margin: 0;
    padding: 0;
    min-width: 1200px;
}

#header-line {
    display: block;
    overflow: hidden;
    width: 580px;
}

.div_left {
    width: 580px;
    height: 250px;
    float: left;
}

.div_right {
    width: 580px;
    height: 250px;
    margin-left: 580px;
}
