<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Start</title>

    <link rel="stylesheet" type="text/css" href="../shared/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../shared/css/admin.css?v=%version%" />
    <link rel="stylesheet" type="text/css" href="../shared/css/lti.css?v=%version%" />
    <link rel="stylesheet" type="text/css" href="../shared/css/daterangepicker.css" />
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
    <link href="css/manage.css?v=%version%" rel="stylesheet" />
</head>

<body>
    <div class="lti-outer">
        <div id="deleteModal" class="modal">
          <div class="modalClose" title="Close Modal"></div>
          <h4>Confirm Deletion</h4>
          <div class="modalContent centreAlign">
            <p>The following event will be deleted:</p>
            <p class="focus">Some Event</p>
            <p>Are you sure you want to continue?</p>
            <form method="DELETE" action="">
              <button type="button" class="button" name="cancel">Cancel</button>
              <button class="button warning" name="delete">Confirm</button>
            </form>
          </div>
        </div>
        <div id="addHeader">
          <div class="lti_links">
            <ul>
              <li data-access="read"><a href="/ltitools/courses/index.html?sid=%courseID%&upload=%upload%" style="font-weight: 300;">Recordings</a></li>
              <li data-access="write" data-page="manage"><a class="active" href="/ltitools/manage/index.html?sid=%courseID%&upload=%upload%&v=%version%">Manage</a></li>
              <li data-access="write" data-page="settings"><a href="/ltitools/settings/index.html?sid=%courseID%&upload=%upload%&v=%version%">Settings</a></li>
            </ul>
          </div>
          <div class="lti-oc-title">
            <h2>Manage Recordings</h2>
            <span class="btn btn-default pull-right scheduler" data-toggle="modal" data-target="#ttScheduleModal" id="btnTtScheduler"><i class="glyphicon fa fa-clipboard"></i>Timetable Scheduling</span>
            <span class="btn btn-default pull-right scheduler" data-toggle="modal" data-target="#scheduleModal" id="btnSchedule"><i class="glyphicon fa fa-clipboard"></i>Schedule</span>
            <span class="btn btn-default pull-right scheduler" data-toggle="modal" data-target="#uploadModal" id="btnUpload"><i class="glyphicon fa fa-upload"></i>Upload</span>
            <a id="recorder" class="btn btn-default pull-right scheduler" target="_blank"><i class="glyphicon glyphicon-facetime-video"></i>Record</a>
          </div>
          <p class="instruction" data-instruction="info"></p>
          <p class="instruction" data-instruction="error"></p>
          <p class="instruction" data-instruction="warning"></p>
        </div>
        <div class="container" style="width: auto;">
        <br/>
        <div id="grid-header" class="row">
            <div class="col-md-4 pull-left" id="btns-select">
                <div class="dropdown pull-left" id="selectDropdown" style="margin-bottom: 0.5rem;">
                  <div class="btn btn-default dropdown-toggle" id="selections" data-toggle="dropdown" ></div>
                  <div class="dropdown-menu flex flex-wrap" aria-labelledby="selections">
                    <button class="btn btn-default dropdown-toggle" id="clearSelections">Clear Selections</button>
                    <div class="fullWidth"></div>
                    <ul id="selectionList" class="alternate"></ul>
                    <ul id="selectedInfo"></ul>
                  </div>
                </div>
                <div class="pull-left">
                  <button type="button" class="btn btn-info" data-toggle="modal" data-target="#bulkModal"><i class="fa fa-pencil"></i>Bulk Edit</button>
                  <button type="button" class="btn btn-danger" data-target="#delModal"><i class="fa fa-times-circle"></i>Bulk Delete</button>
                </div>
            </div>
            <div class="col-xs-10 col-md-8 text-right" style="float: right; line-height: 3rem;">
                <button type="button" class="btn btn-default pull-right" id="clearFilters" title="Clear All Filters"><span style="font-size: 2rem;">&times;</span></button>
                <input type="text" name="freeform" placeholder="Search by Title/Lecturer/Venue" />
                <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" id="statusDropdown" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="true">
                          All
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right" aria-describedby="statusDropdown">
                      <li data-ref="Upcoming" role="presentation" class=""><a href="#">Upcoming <span class="badge"></span></a></li>
                      <li data-ref="Processing" role="presentation"><a href="#">Processing <span class="badge"></span></a></li>
                      <li data-ref="Published" role="presentation"><a href="#">Published <span class="badge"></span></a></li>
                      <li role="separator"class="divider"></li>
                      <li data-ref="All" role="presentation" class="active"><a href="#">All<span class="badge"></span></a></li>
                  </ul>
                </div>
                <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" id="dayDropdown" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="true" ></button>
                  <ul class="dropdown-menu dropdown-menu-right" aria-describedby="dayDropdown">
                      <li data-ref="Mon" role="presentation" class=""><a href="#">Monday<span class="badge"></span></a></li>
                      <li data-ref="Tue" role="presentation" class=""><a href="#">Tuesday<span class="badge"></span></a></li>
                      <li data-ref="Wed" role="presentation" class=""><a href="#">Wednesday<span class="badge"></span></a></li>
                      <li data-ref="Thu" role="presentation" class=""><a href="#">Thursday<span class="badge"></span></a></li>
                      <li data-ref="Fri" role="presentation" class=""><a href="#">Friday<span class="badge"></span></a></li>
                      <li data-ref="Sat" role="presentation" class=""><a href="#">Saturday<span class="badge"></span></a></li>
                      <li data-ref="Sun" role="presentation" class=""><a href="#">Sunday<span class="badge"></span></a></li>
                      <li role="separator"class="divider"></li>
                      <li data-ref="All" role="presentation" class="active"><a href="#">All<span class="badge"></span></a></li>
                  </ul>
                </div>
                <ul class="nav nav-pills pull-right" role="tablist" style="clear: right;">
                    <li data-ref="time_range" role="presentation" class="dateTimeSelector">
                      <a href="#">
                        <i class="glyphicon glyphicon-time fa fa-clock-o"></i>
                        <span class="selectedValue">
                          <span></span><span></span>
                        </span>
                        <span class="badge"></span>
                      </a>
                    </li>

                    <li data-ref="date_range" role="presentation" class="dateTimeSelector">
                      <a href="#">
                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                        <span class="selectedValue">
                          <span></span><span></span>
                        </span>
                        <span class="badge"></span>
                        <input type="text" class="form-control" />
                      </a>
                    </li>
                </ul>
            </div>
        </div>

        <table id="grid" class="table table-bordered table-hover ">
            <thead>
                <th class="text-center" style="width: 1rem;">
                    <a id="chk-head" href="#"></a>
                </th>
                <th data-column="title" data-sort="true" data-sortdir="asc" style="width: calc((100% - 30rem)/3)">Title</th>
                <th data-column="presenters" data-sort="true" data-sortdir="asc" data-sorttype="mixed" style="width: calc((100% - 30rem)/3)">Presenter</th>
                <th data-column="start_date" data-sort="true" data-sortdir="asc" data-sorttype="date" style="width: calc((100% - 30rem)/3)">Date</th>
                <th data-column="agent_id" data-sort="true" data-sortdir="asc" style="width: 10em">Venue</th>
                <th data-column="status" data-sort="true" data-sortdir="asc" style="width: 10em">Status</th>
                <th style="width: 7em">Manage</th>
            </thead>
            <tbody id="grid-body">
                <tr>
                    <td colspan="7" style="height: 5rem; line-height: 5rem; font-style: italic; color: #777;">No Recordings</td>
                </tr>
            </tbody>
        </table>

        <div id="grid-footer" class="row"></div>

    </div>
    <!-- /.container -->
    <div id="noScheduleInfo">
      This site has no scheduled nor published recordings. Schedule recordings by clicking the <span class="btn btn-default scheduler" data-toggle="modal" data-target="#scheduleModal"><i class="glyphicon fa fa-clipboard"></i>Schedule</span> or <span class="btn btn-default scheduler" data-toggle="modal" data-target="#ttScheduleModal"><i class="glyphicon fa fa-clipboard"></i>Timetable Scheduling</span> buttons.
    </div>
    </div>

    <div class="modal fade" id="editModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="eModal">
      <div class="modal-dialog" role="document">
        <form class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="close">
              <span aria-hidden="true" title="Close Popup">&times;</span>
            </button>
            <h4 class="modal-title" id="eModal"></h4>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
            <button type="reset" class="btn btn-default">Cancel</button>
            <button class="btn btn-success"><span class="loader"><i class="fa fa-cog fa-spin"></i></span><span class="text"></span></button>
          </div>
        </form>
      </div>
    </div>

    <div class="modal fade" id="editPublishedModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="epModal">
      <div class="modal-dialog" role="document">
        <form class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="close">
              <span aria-hidden="true" title="Close Popup">&times;</span>
            </button>
            <h4 class="modal-title" id="epModal"></h4>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
            <button type="reset" class="btn btn-default btn-red" id="editPublishedCancel">Cancel</button>
            <button class="btn btn-success" id="editPublished"><span class="loader"><i class="fa fa-cog fa-spin"></i></span><span class="text"></span></button>
          </div>
        </form>
      </div>
    </div>

    <form class="modal fade" id="retractModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="rModal">
      <div class="modal-dialog" role="document" style="width: 720px;">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="close">
              <span aria-hidden="true" title="Close Popup">&times;</span>
            </button>
            <h4 class="modal-title" id="rModal">Unpublish recording</h4>
          </div>
          <div class="modal-body">
            <p>The following recording will be unpublished and made inaccessible to students</p>
            <p class="focus">Some Event</p>
            <br>
            <p>Once unpublished, you will need to contact the Vula helpdesk to have the recording republished.</p>
            <br>
            <p>Are you sure?</p>
          </div>
          <div class="modal-footer">
            <button type="reset" class="btn btn-default" name="cancel">Cancel</button>
            <button class="btn btn-danger" name="delete"></button>
          </div>
        </div>
      </div>
    </form>
    <form class="modal fade" id="publishModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="pModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="close">
              <span aria-hidden="true" title="Close Popup">&times;</span>
            </button>
            <h4 class="modal-title" id="pModal">Confirm publication</h4>
          </div>
          <div class="modal-body">
            <p>The following event will be published:</p>
            <p class="focus">Some Event</p>
            <br>
            <p>Are you sure you want to continue?</p>
          </div>
          <div class="modal-footer">
            <button type="reset" class="btn btn-default" name="cancel">Cancel</button>
            <button class="btn btn-success" name="delete">Confirm</button>
          </div>
        </div>
      </div>
    </form>
    <div class="modal fade" id="delModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="dModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="close">
              <span aria-hidden="true" title="Close Popup">&times;</span>
            </button>
            <h4 class="modal-title" id="dModal">Delete event(s)</h4>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default">Cancel</button>
            <button type="button" class="btn btn-success"><span class="loader"><i class="fa fa-cog fa-spin"></i></span><span class="text"></span></button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="refreshModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="rModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="close">
              <span aria-hidden="true" title="Close Popup">&times;</span>
            </button>
            <h4 class="modal-title" id="rModal">Session timeout</h4>
          </div>
          <div class="modal-body" style="min-height: 6rem">
            <p>Your current session has timed out. Click the button below to refresh the session.</p>
          </div>
          <div class="modal-footer">
            <a class="btn btn-success" href="/ltitools/manage/index.html?sid=%courseID%&upload=%upload%">Refresh my session</a>
          </div>
        </div>
      </div>
    </div>

    <form class="modal fade" id="ttNotificationModal" tabindex="-1" role="dialog" aria-labelledby="ttyModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="close">
              <span aria-hidden="true" title="Close Popup">&times;</span>
            </button>
            <h4 class="modal-title" id="ttNotificationTitle">Use Timetable Scheduling?</h4>
          </div>
          <div class="modal-body">
            It seems that no recordings have ever been scheduled for this course.
            <br/>
            <br/>
            If you prefer, you may schedule recordings based on your course's timetable by clicking the "Timetable Scheduling" button.
            <div class="demo">
              <div class="demoPresentation">
                <button class="btn btn-default pull-right scheduler btnTarget"><i class="glyphicon fa fa-clipboard"></i>Timetable Scheduling</button>
                <button class="btn btn-default pull-right scheduler"><i class="glyphicon fa fa-clipboard"></i>Schedule</button>
                <div class="mouse"></div>
                <div class="demoModal">
                  <h4>Schedule via timetable</h4>
                  <div class="demoModalBody"></div>
                  <div class="demoModalFooter"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <span><input type="checkbox" id="neverRemindTimetable" /><label for="neverRemindTimetable">Don't remind me again</label></span>
            <button type="button" class="btn btn-default">Cancel</button>
            <button class="btn btn-success">Take me there</button>
          </div>
        </div>
      </div>
    </form>

          </div>
        </div>
      </div>
    </form>

    <div class="modal fade" id="scheduleModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="sModal">
      <div class="modal-dialog" role="document">
        <form class="modal-content" method="post" action="/admin-ng/event/new">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="close">
              <span aria-hidden="true" title="Close Popup">&times;</span>
            </button>
            <h4 class="modal-title" id="sModal">Schedule event(s)</h4>
          </div>
          <div class="modal-body hiddenChecks">
            <input type="checkbox" id="scheduleMultiple" name="multipleSchedule" autocomplete="off" />
            <ul class="modal-page active infoList">
              <li>
                <span>Title</span>
                <span><input type="text" name="title" required autocomplete="off" /></span>
              </li>
              <li data-field="presenters">
                <span>Presenters</span>
                <span><textarea name="presenters" required></textarea></span>
              </li>
              <li>
                <span>Repeat Recordings?</span>
                <span><label for="scheduleMultiple" title="Toggle repeat recordings on/off" class="uneditableWhenChecking checkBox"><a></a></label></span>
              </li>
              <li>
                <span>Date <span class="multiple">Range</span></span>
                <span>
                  <span class="valueContainer uneditableWhenChecking" id="choose_start" data-target="#sched_start"><input autocomplete="off" type="text" name="start_date" id="sched_start" required /><i class="glyphicon glyphicon-time fa fa-clock-o"></i><span class="selectedValue"></span><span class="single">Choose</span><span class="multiple">Start</span> <span>date</span></span>
                  <span class="valueContainer multiple uneditableWhenChecking" id="choose_end" data-target="#sched_end"><input autocomplete="off" type="text" name="end_date" id="sched_end" /><i class="glyphicon glyphicon-time fa fa-clock-o"></i><span class="selectedValue"></span><span>End date<span class="selectedValue"></span></span></span>
                  <span class="invalidChoice">Invalid date selected</span>
                </span>
              </li>
              <li>
                <span>Event Time</span>
                <span data-ref="event_time" role="presentation" id="scheduleTime">
                  <input name="startTime" class="timeInput uneditableWhenChecking" autocomplete="off" placeholder="Start" required />
                  <ul class="timeSelector" data-timetype="start">
                  </ul>
                  <span>to</span>
                  <input name="endTime" class="timeInput uneditableWhenChecking" autocomplete="off" placeholder="End" required />
                  <ul class="timeSelector" data-timetype="end">
                  </ul>
                  <input name="duration" type="hidden" autocomplete="off" />
                  <span class="scheduleDuration"></span>
                </span>

              </li>
              <li class="toggleList">
                <span>Repeat on</span>
                <span class="hiddenChecks">
                  <input type="checkbox" name="repeatdays[]" value="MO" id="hiddenMonday" autocomplete="off" />
                  <input type="checkbox" name="repeatdays[]" value="TU" id="hiddenTuesday" autocomplete="off" />
                  <input type="checkbox" name="repeatdays[]" value="WE" id="hiddenWednesday" autocomplete="off" />
                  <input type="checkbox" name="repeatdays[]" value="TH" id="hiddenThursday" autocomplete="off" />
                  <input type="checkbox" name="repeatdays[]" value="FR" id="hiddenFriday" autocomplete="off" />
                  <input type="checkbox" name="repeatdays[]" value="SA" id="hiddenSaturday" autocomplete="off" />
                  <input type="checkbox" name="repeatdays[]" value="SU" id="hiddenSunday" autocomplete="off" />
                  <label for="hiddenMonday" data-above="Mo" class="uneditableWhenChecking"><svg></svg></label>
                  <label for="hiddenTuesday" data-above="Tu" class="uneditableWhenChecking"><svg></svg></label>
                  <label for="hiddenWednesday" data-above="We" class="uneditableWhenChecking"><svg></svg></label>
                  <label for="hiddenThursday" data-above="Th" class="uneditableWhenChecking"><svg></svg></label>
                  <label for="hiddenFriday" data-above="Fr" class="uneditableWhenChecking"><svg></svg></label>
                  <label for="hiddenSaturday" data-above="Sa" class="uneditableWhenChecking"><svg></svg></label>
                  <label for="hiddenSunday" data-above="Su" class="uneditableWhenChecking"><svg></svg></label>
                </span>
              </li>
              <li data-field="location" data-fieldtype="text">
                <span>Venue</span>
                  <span class="dropdown">
                    <input name="location" required autocomplete="off" class="setField" />
                    <i class="glyphicon fa fa-location-arrow" aria-hidden="true"></i>
                    <button class="btn btn-default dropdown-toggle uneditableWhenChecking" type="button" id="venueDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Choose venue</button>
                    <ul class="dropdown-menu" aria-labelledby="venueDropdown">
                      <div class="filterList" data-venues="true"></div>
                      <li role="separator" class="divider"></li>
                      <li style="margin: 0.5rem 0 0;"><input type="text" name="filterlist" placeholder="Search venues" autocomplete="off"></li>
                    </ul>

                  </span>
              </li>
              <li class="conflicts"></li>
              <li class="errors"></li>
            </ul>
                  </span>
              </li>
            </ul>
            <p class="instruction" data-instruction="error">
              Unable to create new event(s). Please contact Vula helpdesk for assistance.
            </p>
          </div>
          <div class="modal-footer">
            <button type="reset" class="btn btn-default">Cancel</button>
            <button class="btn btn-success"><span class="loader"><i class="fa fa-cog fa-spin"></i></span><span class="text"></span></button>
          </div>
        </form>
      </div>
    </div>

    <div class="modal fade" id="ttScheduleModal" data-backdrop="static" role="dialog" aria-labelledby="ttModal">
      <div class="modal-dialog" role="document">
        <form class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="close">
              <span aria-hidden="true" title="Close Popup">&times;</span>
            </button>
            <h4 class="modal-title">Schedule via timetable</h4>
          </div>
          <div class="modal-body">
            <input type="checkbox" class="hiddenCheck" id="showUnsupportedVenues" />
            <p class="instruction" data-instruction="warning"></p>
            <ul id="ttCourses">
            </ul>
            <ul id="ttScheduleCourses">
            </ul>
            <!--ul id="ttScheduleDisplay">
            </ul-->
            <label class="btn btn-default" for="showUnsupportedVenues">Show/Hide unsupported venues</label>
          </div>
          <div class="modal-footer">
            <button type="reset" class="btn btn-default">Cancel</button>
            <button class="btn btn-success"><span class="loader"><i class="fa fa-cog fa-spin"></i></span><span class="text"></span></button>
          </div>
        </form>
      </div>
    </div>

    <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uModal">
      <div class="modal-dialog" role="document">
        <form class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="close">
              <span aria-hidden="true" title="Close Popup">&times;</span>
            </button>
            <h4 class="modal-title" id="dModal">Upload video</h4>
          </div>
          <div class="modal-body">
            <ul class="modal-page active infoList">
              <li>
                <span>Title</span>
                <span><input autocomplete="off" type="text" name="title" required /></span>
              </li>
              <li data-field="presenters">
                <span>Presenters</span>
                <span><textarea name="presenters" rows="2" required></textarea></span>
              </li>
              <li>
                <span>Description</span>
                <span><textarea name="description" placeholder="(Optional)" rows="2"></textarea></span>
              </li>
              <li>
                <span>Date</span>
                <span>
                  <input autocomplete="off" type="text" name="start_date" id="upload_start" required />
                  <span class="valueContainer" class="choose_start" data-target="#upload_start"><i class="glyphicon glyphicon-time fa fa-clock-o"></i><span class="selectedValue"></span><span class="single">Choose</span><span class="multiple">Start</span> <span>date</span></span>
                </span>
              </li>
              <hr/>
              <li data-field="presenter">
                <span>Webcam video or audio file</span>
                <input autocomplete="off" type="checkbox" id="populatedPresVid" class="filePopulated" />
                <span class="fileContainer" data-mediatype="video" >
                  <input autocomplete="off" type="file" name="presenter" data-mediatype="video" title="Choose a presenter/webcam video or audio file"/>
                  <progress min="0" value=0 max="100"></progress>
                </span>
                <label for="populatedPresVid" class="removeFile"></label>
                  <span class="videoPreview">
                    <img />
                  </span>
              </li>
              <li>
                <span>Screenshare video</span>
                <input autocomplete="off" type="checkbox" id="populatedPresentationVid" class="filePopulated" />
                <span class="presentationContainer" data-mediatype="video" >
                   <input autocomplete="off" type="file" name="presentation" data-mediatype="video" title="Choose a presentation/screenshare video"/>
                   <div id="uploadProgress">
                    <progress min="0" value="0" max="100"></progress>
                   </div>
                </span>
                <label for="populatedPresentationVid" class="removeFile"></label>
                <span class="presentationPreview">
                    <img />
                </span>
              </li>
              <li style="line-height:120%;margin-bottom:15px;font-size:0.8em;">
                  <p class="text-info"><b><u>NOTE:</u></b> 
                      Upload either a webcam video file, screenshare video, or both provided they are the same length.
                      If two videos have different lengths, the shorter video will be modified to match the length of the longer video.
                  </p>
              </li>
              <hr/>
              <li>
                  <span>Create automatic captions</span>
                  <span>
                    <input id="uploadWithAutomaticCaptions" name="doCaptioning" type="checkbox" class="hiddenCheck" />
                    <label for="uploadWithAutomaticCaptions" title="Specify whether automatic Google Speech captions should be created for this video or not"
                           class="checkBox"></label>
                  </span>
                </li>
                <li class="errors"></li>
              </ul>
              <p class="instruction show" data-instruction="warning">I hereby confirm that I own the copyright to, or have the authorisation to distribute, all performances attached to this submission.</p>
            </div>
            <div class="modal-footer">
              <button type="reset" class="btn btn-default">Cancel</button>
              <button class="btn btn-success"><span class="loader"><i class="fa fa-cog fa-spin"></i></span><span class="text"></span></button>
            </div>
          </form>
        </div>
      </div>

      <div class="modal fade" id="bulkModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="bModal">
        <div class="modal-dialog" role="document">
          <form class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="close">
                <span aria-hidden="true" title="Close Popup">&times;</span>
              </button>
              <h4 class="modal-title" id="bModal"></h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
              <button type="reset" class="btn btn-default">Cancel</button>
              <button class="btn btn-success"><span class="loader"><i class="fa fa-cog fa-spin"></i></span><span class="text"></span></button>
            </div>
          </form>
        </div>
      </div>

      <div class="modal fade" id="editCaptionsModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="ecModal">
        <div class="modal-dialog" role="document">
          <form class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="close">
                <span aria-hidden="true" title="Close Popup">&times;</span>
              </button>
              <h4 class="modal-title" id="ecModal"></h4>
            </div>
            <div class="modal-body" id="ecModalBody">
              <div class="form-group green-border-focus">
                <input type="hidden" id="vttInfo">
                <label class="vttLabel" for="vttText" id="vttLabel"></label>
                <p class="note">
                  <b>PLEASE NOTE: </b> Your changes will only be published when you click the <b><i>SAVE</i></b> button.
                </p><br/>
               <span id="editCaptionsError" class="errors" style="display:none;color:red;"><ol id="errorLi"></ol><br/></span>
                <textarea id="vttText" name="text/vtt" rows="15" class="form-control rounded-0 newVtt"></textarea>
              </div>
            </div>
            <div class="modal-footer">
              <button type="reset" class="btn btn-default btn-red">Cancel</button>
              <button type="button" class="btn btn-success updateCaptions" style="float:right;display:none;">Save</button>
            </div>
          </form>
        </div>
      </div>
      <div class="modal fade" id="requestTranscriptModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="rtModal">
          <div class="modal-dialog" role="document">
              <form class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="close">
                          <span aria-hidden="true" title="Close Popup">&times;</span>
                      </button>
                      <h4 class="modal-title" id="rtModal">Transcript Request</h4>
                  </div>
                  <div class="modal-body" id="rtModalBody">
                      <p>A transcript request has been sent to Way With Words.</p>
                      <br/>
                      <p>Transcription usually takes 2 - 5 working days after submission.</p>
                      <br/>
                      <p>You will receive an email notification when transcripts and captions are available on your video.</p>
                  </div>
                  <div class="modal-footer">
                      <button type="reset" class="btn btn-default btn-red">Close</button>
                  </div>
              </form>
          </div>
      </div>
      <div class="modal fade" id="removeCaptionsModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="rcModal">
        <div class="modal-dialog" role="document">
            <form class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="close">
                        <span aria-hidden="true" title="Close Popup">&times;</span>
                    </button>
                    <h4 class="modal-title" id="rcModalTitle"></h4>
                </div>
                <div class="modal-body" id="rcModalBody">
                    <p><span style="color:#e45253;padding-right:5px"><b>PLEASE NOTE:</b></span>
                        By clicking "<i>Yes, Remove Captions</i>" the current published captions will be removed (i.e. a remove
                        process will run) and unavailable for playback.</p>

                    <input type="hidden" id="eventDetails"/>
                </div>
                <div class="modal-footer">
                    <button type="reset" id="cancelRemoveCaptions" class="btn btn-default btn-red">Cancel</button>
                    <button type="reset" id="confirmRemoveCaptions" class="btn btn-success">Yes, Remove Captions</button>
                </div>
            </form>
        </div>
      </div>
      <div id="suggestion">
      </div>
      <script type="text/x-tmpl" id="tmpl-body">{% for (var i=0; i < o.length; i++) { var item=o [i]; include( 'tmpl-row', o[i]); } %} </script>
      <script type="text/x-tmpl" id="tmpl-row">
          <tr id="row-{%=o['id']%}" data-status="{%=o['status']%}">
              <td class="text-center">
                  <input type="checkbox"  id="chk-{%=o['id']%}" />
                  <label class="checkbox" for="chk-{%=o['id']%}">
                  <span class="fa fa-square-o"></span>
                  <span class="fa fa-check-square-o"></span>
                  </label>
              </td>
              <td>{%=o['title']%}</td>
              <td>{%=o['presenters'].join(', ')%}</td>
              <td>{%=moment(o['start_date']).format('ddd D MMM YYYY, HH:mm') + (o['end_date'] ? ' - ' + moment(o['end_date']).format('HH:mm') : '')%}</td> <!-- TODO: add day of week -->
            <td>{%=getVenueName(o['location'] || o['agent_id'])%}</td>
            <td title="{%=getTooltip(o)%}">{%=getStatus(o)%}</td>
            <td>{%#getEditControls(o)%}</td>
        </tr>
    </script>
    <script type="text/x-tmpl" id="tmpl-personalbody">
        {% for (var i=0; i < o.length; i++) { var item=o [i]; include( 'tmpl-personalrow', o[i]); } %}
    </script>
    <script type="text/x-tmpl" id="tmpl-personalrow">
        <tr id="row-{%=o['id']%}" data-status="{%=o['status']%}">
            <td class="text-center">
                <input type="checkbox"  id="chk-{%=o['id']%}" />
                <label class="checkbox" for="chk-{%=o['id']%}">
                <span class="fa fa-square-o"></span>
                <span class="fa fa-check-square-o"></span>
                </label>
            </td>
            <td>{%=o['title']%}</td>
            <td>{%=o['series']['title']%}</td>
            <td>{%=moment(o['start_date']).format('ddd D MMM YYYY, HH:mm') + (o['end_date'] ? ' - ' + moment(o['end_date']).format('HH:mm') : '')%}</td> <!-- TODO: add day of week -->
            <td>{%=getVenueName(o['location'] || o['agent_id'])%}</td>
            <td title="{%=getTooltip(o)%}">{%=getStatus(o)%}</td>
            <td>{%#getEditControls(o)%}</td>
        </tr>
    </script>
    <script type="text/x-tmpl" id="tmpl-editable">
        <button type="button" data-toggle="modal" data-event="{%=o.id%}" data-target="#editModal">
        <img src="/ltitools/shared/img/icons/edit.png" /></button>
        <button type="button" data-toggle="modal" data-event="{%=o.id%}" data-target="#delModal">
        <img src="/ltitools/shared/img/icons/cross.png" /></button>
    </script>
    <script type="text/x-tmpl" id="tmpl-editpubs">
        <button type="button" data-toggle="modal" data-event="{%=o.id%}" data-target="#editPublishedModal">
        <img src="/ltitools/shared/img/icons/edit.png" /></button>
        <button type="button" data-toggle="modal" data-event="{%=o.id%}" data-target="#retractModal">
        <img src="/ltitools/shared/img/icons/cross.png" /></button>
    </script>
    <script type="text/x-tmpl" id="tmpl-footer">
        {% var pages = Math.ceil(o['total']/o['shown']); %}
        <div class="col-xs-6 col-md-6">
            Displaying <span id="currentTotals" data-start="" data-end=""></span> of {%=o['total']%} results <span id="isFiltered"></span>
        </div>
        <div class="col-xs-6 col-md-6 text-right">
            <nav aria-label="...">
                <ul class="pagination pull-right">
                    <li><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>{% for (var i=0; i < pages; i++) {
                            if (pages < 13) {
                    %}<li {%= i === o.start ? 'class=active': '' %}>
                        <a href="#page_{%=i+1%}">{%=i+1%}<span class="sr-only"><%=i%></span></a>
                        </li>{%   }
                            else if (i < 2 || i > pages - 3 || (i >= o.start - 2 && i <= o.start + 2 && o.start >= 7) ||
                                    (i < 8 && o.start < 7) || (i > pages - 9 && o.start > pages - 7)) {
                    %}<li {%= i === o.start ? 'class=active': '' %}>
                                <a href="#page_{%=i+1%}">{%=i+1%}<span class="sr-only"><%=i%></span></a>
                            </li>{%
                            }
                            else if (i === pages - 4 || i === 3) { %}<li><a><span aria-hidden="true">&hellip;</span></a></li>{%
                            }
                        } %}<li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                </ul>
                <div class="dropup pull-right">
                    <div class="btn btn-default dropdown-toggle" id="limitDropup" data-toggle="dropdown" >{%= (sessionStorage.getItem('table.limit') === '100000' ? 'All' : (sessionStorage.getItem('table.limit') || null)) || '10' %}</div>
                    <div class="dropdown-menu" aria-labelledby="limitDropup">
                    <li data-limit="10"></li>
                    <li data-limit="20"></li>
                    <li data-limit="50"></li>
                    <li data-limit="100"></li>
                    <li data-limit="100000">All</li>
                    </div>
                </div>
            </nav>
        </div>
    </script>
    <script type="text/x-tmpl" id="tmpl-editormodal">
        <div class="instruction" data-instruction="warning">
        </div>
        <div class="instruction" data-instruction="success">
        </div>
        <ul class="nav nav-tabs" id="tabContent">
          <li class="nav-item active detailsLink" id="detailsLink"><a href="#details" class="nav-link" data-toggle="tab">Details</a></li>
          <li class="nav-item captionsLink" id="captionsLink"><a href="#captions" class="nav-link" data-toggle="tab">Captions</a></li>
        </ul>
        <div class="tab-content">
        <div class="tab-pane active" id="details" style="padding:10px;">
        <ul class="infoList">
        <li data-field="title" data-fieldtype="text">
            <span>Title</span>
            <span><input name="title" value="{%=o.title%}" placeholder="{%=o.title || 'Multiple events'%}" /></span>
        </li>
        <li data-field="presenters" data-fieldtype="mixed_text">
            <span>Presenters</span>
            <span><textarea name="presenters"{%#(o.presenters === 'Multiple' ? 'placeholder="Various presenters"' : '')%}>{%=(Array.isArray(o.presenters) ? o.presenters.join("\n") : (o.presenters !== 'Multiple' ? o.presenters : ''))%}</textarea></span>
        </li>
        {%
            if (o.target == '#editPublishedModal' && o.isAttachmentAllowed) { %}
            <li data-field="attachment">
            <span>Lecture notes</span>
            <a target="_blank" id="notes" class="emptyOnClose"></a><span class="fileContainer" id="notesContainer" data-mediatype="doc">
                <input autocomplete="off" type="file" name="attachment/notes" data-mediatype="doc"/>
                <progress min="0" value=0 max="100"></progress>
            </span>
            </li>
        {%  } %}
        {%
            if (o.target == '#editPublishedModal' && o.isPersonal) { %}
            <li data-field="attachment">
            <span>Recording series</span>
            <span class="dropdown">
                <input name="isPartOf" autocomplete="off" class="setField" />
                <i class="glyphicon fa fa-location-arrow" aria-hidden="true"></i>
                <button class="btn btn-default dropdown-toggle uneditableWhenChecking" type="button" id="seriesDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {%= o.series ? o.series.title : 'Choose series' %}
                </button>
                <ul class="dropdown-menu seriesList top-down" aria-labelledby="seriesDropdown">
                <li style="margin: 0 0 0.375rem;"><input type="text" name="filterlist" placeholder="Search series" autocomplete="off"></li>
                <li role="separator" class="divider"></li>
                <div class="filterList" data-series="true" data-searchtype="series"></div>
                </ul>
            </span>
            </li>
        {%  } %}
        {%
            if (o.target == '#editPublishedModal') { %}
            <video controls poster preload="metadata"></video>
            {% if (o.isPersonal) { %}
            <hr/>
            <h4>Media</h4>
            <ul id="mediaList" style="margin-top: 1em;">
            </ul>
            {% } %}
        {% } else { %}
        <li data-field="start_date" data-fieldtype="date">
            <span>Event Date</span>
            {%
            if (o.target == '#editModal') { %}
            <span data-ref="start_date" role="presentation" class="dateTimeSelector">
            <a href="#">
                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                <input name="start_date" type="hidden" value="{%=(o.start_date !== 'Multiple' ? moment(o.start_date).format('YYYY-MM-DD') : '')%}" class="pristine"/>
                <span class="selectedValue">
                {%=moment(o.start_date).format('D MMM, YYYY')%}
                </span>
            </a>
            </span>
            {% } else { %}
            <input name="start_date" type="hidden" value="{%= o.start_date !== 'Multiple' ? moment(o.start_date).format('YYYY-MM-DD') : '' %}" class="pristine"/>
            <span>{%=(o.startDate !== 'Multiple' ? o.startDate : 'Multiple dates')%}</span>
            {% } %}
        </li>
        <li data-field="startTime" data-fieldtype="time">
            <span>Event Time</span>
            <span data-ref="event_time" role="presentation" class="dateTimeSelector">
            <a href="#">
                <i class="glyphicon glyphicon-time fa fa-clock-o"></i>
                <input name="startTime" type="hidden" class="pristine" />
                <input name="duration" type="hidden" class="pristine" />
                <span class="selectedValue">
                {% if (o.target == '#editModal') { %}
                {%=moment(o.start_date).format('HH:mm') + ' - ' + moment(o.end_date).format('HH:mm')%}
                {% } else { %}
                {%=(o.startTime !== 'Multiple' ? o.startTime + ' - ' + o.endTime : 'Multiple start times')%}
                {% } %}
                </span>
            </a>
            </span>
        </li>
        <li data-field="location" data-fieldtype="text">
            <span>Venue</span>
            <span class="dropdown">
            <input name="location" class="setField pristine" value="{%= (o.agent_id !== 'Multiple' ? o.agent_id : '') || (o.location !== 'Multiple' ? o.location : '') || '' %}" />
            <i class="glyphicon fa fa-location-arrow" aria-hidden="true"></i>
            <button class="btn btn-default dropdown-toggle" type="button" id="venueDropdown" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="true" >{%= getVenueName(o.location) %}</button>
            <ul class="dropdown-menu" aria-labelledby="venueDropdown">
                <li style="margin: 0 0 0.5rem;"><input type="text" name="filterlist" placeholder="Search venues" /></li>
                <li role="separator" class="divider"></li>
                <div class="filterList">
                {%# getVenues(o) %}
                </div>
            </ul>
            </span>
        </li>
        {% } %}
        </ul>
        </div>
        <div class="tab-pane" id="captions" style="padding:10px;">
          <input type="hidden" id="hiddenEvent" name="hiddenEvent"/>
          <div class="list-group">
            <div class="list-group-item" id="editCaptionsGroup">
              <h5 class="list-group-item-heading"><b>Edit Captions</b></h5>
              <ul class="list-group">
                 <li class="list-group-item list-group-item-action borderless"><a type="button" href="" id="editCaptions" data-toggle="modal" data-target="#editCaptionsModal"></a></li>
              </ul>
            </div>
            <div class="list-group-item" id="downloadCaptionsGroup">
              <h5 class="list-group-item-heading"><b>Download Captions</b></h5>
              <ul class="list-group">
                <li class="list-group-item list-group-item-action borderless" style="display:none;" id="downloadNibityCaptions">
                  <a href="#" class="list-group-item-action" title="Nibity Captions" id="dlNibityCaptions">
                    <i class="fa fa-download"></i>Way with Words Captions
                  </a>
                </li>
                <li class="list-group-item list-group-item-action borderless" style="display:none;" id="downloadGoogleCaptions">
                  <a href="#" class="list-group-item-action" title="Google Captions" id="dlGoogleCaptions">
                    <i class="fa fa-download"></i>Automated Captions
                  </a>
                </li>
                <li class="list-group-item list-group-item-action borderless" style="display:none;" id="downloadUploadedCaptions">
                  <a href="#" title="Uploaded Captions" id="dlUploadedCaptions">
                    <i class="fa fa-download"></i>Uploaded Captions
                  </a>
                </li>
              </ul>
            </div>
            <div class="list-group-item">
              <h5 class="list-group-item-heading"><b>Upload New Captions</b></h5>
              <input autocomplete="off" type="checkbox" id="populatedPresVtt" class="filePopulated" />
              <span class="fileContainer form-control" data-mediatype="text/vtt" data-title="Choose *.vtt ..." style="display:inline-block;">
              <input autocomplete="off" type="file" name="text/vtt" id="attachment_captions_webvtt" data-mediatype="vtt" accept=".vtt"/>
                  <progress min="0" value=0 max="100"></progress>
              </span>
              <a href="" id="btnUploadCaptions" class="btn btn-success uploadCaptions" style="display:none;">Upload VTT</a>
              <textarea style="display:none;" rows="10" cols="50" name="text/vtt"  id="uploadedVttText"></textarea>
              <span class="errors" style="color:red;display:none;">The file you are trying to upload is not a valid VTT file.
                To validate it, copy and paste the text from your file to a  <a href="https://quuz.org/webvtt">VTT Validator</a> and
                correct the errors indicated. Then copy and paste the corrected text back to your file and upload it again.
              </span>
            </div>
            <div class="list-group-item">
                <h5 class="list-group-item-heading"><b>Request a Transcript</b></h5>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-action borderless" id="requestBetterCaptions">
                      <a href="#" onclick="$('#editPublishedModal').modal('hide')" class="list-group-item-action" title="Way with Words Transcription" id="rqCaptions" data-toggle="modal" data-target="#requestTranscriptModal">
                          <i class="fa fa-paper-plane"></i>Request better captions
                      </a>
                    </li>
                </ul>
            </div>
            <div class="list-group-item" id="removeCaptionsGroup">
                <h5 class="list-group-item-heading"><b>Remove Captions</b></h5>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-action borderless" style="display:none;" id="removeNibityCaptions">
                      <a href="#" class="list-group-item-action" title="Nibity Captions" id="rmNibityCaptions" data-toggle="modal" data-target="#removeCaptionsModal">
                        <i class="fa fa-remove" style="color:red;"></i>Way with Words Captions
                      </a>
                    </li>
                    <li class="list-group-item list-group-item-action borderless" style="display:none;" id="removeGoogleCaptions">
                      <a href="#" class="list-group-item-action" title="Google Captions" id="rmGoogleCaptions" data-toggle="modal" data-target="#removeCaptionsModal">
                        <i class="fa fa-remove" style="color:red;"></i>Automated Captions
                      </a>
                    </li>
                    <li class="list-group-item list-group-item-action borderless" style="display:none;" id="removeUploadedCaptions">
                      <a href="#" title="Uploaded Captions" id="rmUploadedCaptions" data-toggle="modal" data-target="#removeCaptionsModal">
                        <i class="fa fa-remove" style="color:red;"></i>Uploaded Captions
                      </a>
                    </li>
                </ul>
            </div>
          </div>
        </div>
        </div>
        {% if (o.target == '#bulkModal') { %}
            <div id="updateProgress">
            <h4></h4>
            <progress min="0" max="100" value="0"></progress>
            <ul></ul>
            <button type="button" class="btn btn-warning">Return to reschedule conflicting events</button>
            </div>
        {% } %}
        <div class="instruction" data-instruction="error">
        <b>There <span class="numConflicts"></span> for the timeframes and venue you have chosen.</b>
        {% if (o.target == '#bulkModal') { %}
            <p id="bulkProceed" style="margin: 1rem 0 0;">
            If you choose to proceed, scheduling information for the conflicting events will not be updated (titles and presenters will be saved).
            </p>
        {% } %}
        </div>

    </script>
    <script type="text/x-tmpl" id="tmpl-delete">
        Performing this action will delete
        <p style="font-weight: bold; text-align: center;margin: 1rem 0;background: #eee; line-height: 3rem;">
        {%= o.text %}
        </p>
        <p style="text-align: right; font-size: 1.2rem;">Are you sure?</p>
    </script>
    <script type="text/x-tmpl" id="tmpl-selection">
        <li data-eventid="{%= o.id %}"><span class="remove" style="font-size: 2rem;" title="Remove from selections">&times;</span><span> {%= o.title %}</span></li>
    </script>
    <script type="text/x-tmpl" id="tmpl-selected">
        <li data-eventid="{%= o.id %}">
        <h4>{%= o.title %}</h4>
        <ul>
            <li><span>{%# o.presenters.length > 1 ? 'Presenters' : 'Presenter' %}</span><span>{%# o.presenters.join('<br>')%}</span></li>
            <li><span>Date</span><span>{%= moment(o.start_date).format('ddd DD MMM, YYYY') %}</span></li>
            <li><span>Time</span><span>{%= moment(o.start_date).format('HH:mm') + ' - ' + moment(o.end_date).format('HH:mm') %}</span></li>
            <li><span>Venue</span><span>{%= getVenueName(o.location) %}</span></li>
        </ul>
        </li>
    </script>
    <script type="text/x-tmpl" id="tmpl-ttcourse">
        <li data-course="{%= o.course %},{%= o.term %}">
        <span data-field="course">{%= o.course %}</span>
        <span data-field="header"><span>Timeframe</span><span>Time</span><span class="days"><a>Mo</a><a>Tu</a><a>We</a><a>Th</a><a>Fr</a><a>Sa</a><a>Su</a></span><span>Venue</span></span>
        <div class="scheduleOptions">
        {% for (var key in o) { if (['LEC', 'MOD', 'TUT', 'WKS', 'SEM'].indexOf(key) > -1) { %}
            <ul data-instr-type={%= key %}>
            {% for (var i = 0; i < o[key].length; i++) { o[key][i].course = o.course; if (moment(o[key][i].end_date).isAfter(moment())) {include('tmpl-ttrow', {obj: o[key][i], num: i});} } %}
            </ul>
        {% }} %}
        </div>
        </li>
    </script>
    <!-- setup o.term properly below, and DO NOT USE o.start_date as a substitute -->
    <script type="text/x-tmpl" id="tmpl-ttrow">
        <li class="{%= o.obj.ca_name ? '' : 'un' %}supported">
            <span>
                <i title="Scheduling Conflict" class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                <input id="{%= o.obj.course %},{%= moment(o.obj.start_date).format('YYYY') %}-{%= o.obj.activity_id %}-{%= o.num %}" 
                       value="{%= JSON.stringify(o.obj) %}"
                       name="{%= o.obj.course %},{%= moment(o.obj.start_date).format('YYYY') %}-{%= o.obj.activity_id %}-{%= o.num %}" 
                       type="checkbox" 
                       {%= blockLongTtEvents(o.obj.start_time, o.obj.end_time) %}
                />
            </span>
            <span>{%= o.obj.class_section %}</span>
            <span>{%= moment(o.obj.start_date).format('YYYY-MM-DD') %}</span>
            <span>{%= moment(o.obj.end_date).format('YYYY-MM-DD') %}</span>
            <span>{%= o.obj.start_time %}</span>
            <span>{%= o.obj.end_time %}</span>
            <ul class="activeDays">{% include('tmpl-ttdays', o.obj.days); %}</ul>
            <span>{%= o.obj.venue || o.obj.sn_venue %}</span>
        </li>
    </script>
    <script type="text/x-tmpl" id="tmpl-ttdays">{% for (var key in o) { %}<li class="{%= o[key] ? 'activeDay' : '' %}"><a></a></li>{% } %}
    </script>

    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="../shared/js/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../shared/js/jquery/plugins/jquery.utils.js"></script>
    <script type="text/javascript" src="../shared/js/ext/moment.min.js"></script>
    <script type="text/javascript" src="../shared/js/daterangepicker.js"></script>
    <script type="text/javascript" src="../shared/js/he.js"></script>
    <script type="text/javascript" src="../shared/js/underscore.js?v=%version%"></script>
    <script type="text/javascript" src="../shared/js/bootstrap.js?v=%version%"></script>
    <script type="text/javascript" src="../shared/js/lti.js?v=%version%"></script>

    <script type="text/javascript" src="js/tmpl.min.js"></script>
    <script type="text/javascript" src="js/util.js"></script>
    <script type="text/javascript" src="js/lti.series.js?v=%version%"></script>
    <script type="text/javascript" src="js/lti.entities.js?v=%version%"></script>
    <script type="text/javascript" src="js/lti.data.js?v=%version%"></script>
    <script type="text/javascript" src="js/lti.agents.js?v=%version%"></script>
    <script type="text/javascript" src="js/lti.timetable.js?v=%version%"></script>
    <script type="text/javascript" src="js/lti.eventmanager.js?v=%version%"></script>
    <script type="text/javascript" src="js/lti.tableview.js?v=%version%"></script>
    <script type="text/javascript" src="js/lti.manage.js?v=%version%"></script>
        <script type="text/javascript" src="js/parser.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
</body>
</html>
