# Ignore file for Opencast Matterhorn project
#

# ignore runtime artifacts
lib/matterhorn/*
lib/ext/*
inbox/*
logs/*
work/*

# ignore maven target directories
target/

# ignore Eclipse project data
.project
.classpath
.metadata/
.settings/

# ignore NetBeans project data
*/nbproject/*

# just in case.. ignore SVN subdir
*/.svn/*

# Ignore all temporary editor files
.*.swp
