[submodule "modules/editor"]
	path = modules/editor
	url = git@github.com:opencast/editor
	branch = r/20.x
[submodule "modules/studio"]
	path = modules/studio
	url = git@github.com:opencast/studio
	branch = r/20.x
[submodule "modules/admin"]
	path = modules/admin
	url = git@github.com:opencast/admin-interface
	branch = r/20.x
