<section ng-show="open" id="send-message-modal" ng-keyup="keyUp($event)" tabindex="1" class="modal wizard modal-animation ng-hide" ng-controller="BulkMessageCtrl">
    <header>
        <a class="fa fa-times close-modal" ng-click="close()"></a>
        <h2 translate="EVENTS.SEND_MESSAGE.CAPTION">Send Message</h2>
    </header>
   <admin-ng-wizard data-name="bulk-message" data-states="states" data-submit="submit" data-final-button-translation="BULK_ACTIONS.SEND_MESSAGE">
   </admin-ng-wizard>
</section>
