<div id="engage_slidetext_tab_content">
  <% if((typeof segments !== "undefined") && (segments.length > 0)) { var i = 0; %>
	<% _.each(segments, function(segment) { %>
	<div class="media mediaColor" id="tab_slidetext_segment_<%= i %>">
		<img class="media-object pull-left" src="<%= segment.image_url %>" alt="Segment <%= i %>" />
		<div class="media-body">
			<h4 class="media-heading">
				Segment <%= i %>
			</h4>
			<div class="media-time">
			  <%= segment.time %>
			</div>
			<div class="media-text">
			  <% if((segment.text !== "undefined") && (segment.text != "")) { %>
			    <%= segment.text %>
			  <% } %>
			</div>
		</div>
	</div>
	<% ++i; }); %>
  <% } else { %>
  <p>No slides available.</p>
  <% } %>
</div>
