:root {
  /* sizes */
  /* --button-fixed-width: 40px; */
  /* --button-fixed-height: 40px; */
  /* --playback-bar-height: var(--button-fixed-height) + 10px; */
  /* --button-icon-size: calc(var(--button-fixed-width) / 2); */

  /* colors */
  --main-fg-color: #F9FAFB;
  --main-bg-color: #1F2937;
  --main-bg-color-hover: #1F2937;

  /* --secondary-bg-color: rgb(32,32,32); */
  --secondary-bg-color-hover: #1F2937;
  --highlight-bg-color: #3073B8;
  --highlight-bg-color-hover: #3a8bdd;
  --main-bg-gradient: #1F2937;
  /* --main-border-color: rgba(125,125,125,0.4); */
  /* --video-container-background-color: #e4e4e4; */
  --base-video-rect-background-color: #9CA3AF;

  /* video-container-message */
  /* --video-container-message-bkg: rgba(0, 0, 0, 0.4); */
  /* --video-container-message-color: white; */

  /* video-container */
  /* --video-container-padding: 10px; */
}