<section ng-show="open" ng-keyup="keyUp($event)" tabindex="1" class="modal modal-animation ng-hide" id="capture-agent-details-modal" ng-controller="RecordingCtrl">
    <header>
        <a class="fa fa-times close-modal" ng-click="close()"></a>
        <h2>Location Details - {{resourceId}}</h2>
    </header>

    <nav class="modal-nav" id="modal-nav">
        <a ng-click="openTab('configuration')" data-modal-tab="configuration" ng-class="{ active: tab == 'configuration' }">Configuration</a>
    </nav>

    <a ng-click="showAdjacent(true)"><i class="arrow fa fa-chevron-left"></i></a>
    <a ng-click="showAdjacent()"><i class="arrow fa fa-chevron-right"></i></a>

    <div class="modal-content" data-modal-tab-content="configuration">
      <div class="modal-body">
        <div class="full-col">
          <div class="obj tbl-details">
            <header>Configuration Details</header>
            <div class="obj-container">
              <table class="main-tbl">
                <tr ng-repeat="(key, value) in configuration">
                  <td>{{ key }}</td>
                  <td>{{ value }}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="btm-spacer"></div>
</section>
