<section ng-show="open" ng-keyup="keyUp($event)" tabindex="1" class="modal modal-animation ng-hide" id="workflow-action-modal" ng-controller="WorkflowActionCtrl">
    <header>
        <a class="fa fa-times close-modal" ng-click="close()"></a>
        <h2 translate="EVENTS.EVENTS.STATUS.PROCESSING_PAUSED.ERROR"><!-- Processing paused due to error --></h2>
    </header>

    <div class="modal-content">
        <div class="modal-body">
            
        <p translate="EVENTS.EVENTS.STATUS.PROCESSING_PAUSED.ACTION"><!-- Choose action below: -->:</p>
        
        </div>
    </div>

    <footer>
        <a translate="EVENTS.EVENTS.STATUS.PROCESSING_PAUSED.ABORT" class="danger" ng-click="workflowAction('NONE')"><i><!-- Abort --></i></a>
        <a translate="EVENTS.EVENTS.STATUS.PROCESSING_PAUSED.RETRY" class="success" ng-click="workflowAction('RETRY')"><i><!--- Retry --></i></a>
    </footer>
</section>
