<div ng-form="innerForm" ng-click="enterEditMode()">
    &nbsp;<span ng-show="!editMode" ng-click="enterEditMode()" translate="{{((params.value === '' || params.value === null || angular.isUndefined(params.value)) ? 'SELECT_NO_OPTIONS' : getLabel(params.value))}}"></span>

  <i class="edit fa fa-pencil-square" ng-show="!editMode" ng-click="enterEditMode()" ng-focus="enterEditMode()" tabindex="{{ params.tabindex }}"></i>
  <i class="saved fa fa-check" ng-show="!editMode" ng-class="{ active: params.saved }"></i>

  <div class="editable-select" ng-show="editMode">

    <select chosen
            ng-model="params.value"
            name="{{ params.name }}"
            ng-change="submit()"
            ng-blur="leaveEditMode()"
            ng-required="params.required"
            tabindex="{{ params.tabindex }}"
            data-width="'250px'"
            ng-options="option.value as option.label for option in collection">
      <option value="" ng-selected="params.value === ''" ng-if="!params.required">-- {{ 'SELECT_NO_OPTIONS' | translate | limitTo : 70 }} --</option>
    </select>
  </div>
</div>

