.data-filter {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    @include user-select(none);
}

$df-height: 42px;

// DF Container
// ----------------------------------------

.df-container {
    @include clearfix;
}