/**
 * This stylesheet controls the look and feel of Opencast's series LTI tool.
 *
 * You may want to modify this to adjust the tool to the environment (e.g. the LMS) in which it is embedded.
 */

body {
  font-size: 14px;
  font-family: sans-serif;
  max-width: 800px;
  margin: 0 auto;
}

header {
  padding: 5px;
  margin: 15px;
}

div.loading {
  margin: 50px;
  padding: 50px;
  text-align: center;
  color: #666;
}

div.episode {
  display: inline-block;
  text-decoration: none;
  color: black;
  background-color: #eee;
  padding: 5px;
  margin: 15px;
  width: 100%;
}

div.episode a {
    display: inline-block;
}

div.episode:hover {
  background-color: #fafafa;
}

div.episode div {
  display: inline-block;
  padding: 20px;
}

div.episode div.preview {
  width: 200px;
}

div.episode div.desc h2 {
  margin: 0;
  margin-bottom: 5px;
}

button.delete {
  color: red;
  display: inline-block;
}

button.delete img {
  padding: 15px;
  height: 35px;
  width: 35px;
}

button.delete:hover {
  color: black;
  background-color: red;
}

footer  {
  margin: 20px;
  text-align: center;
}

.paginationjs {
  display: inline-block;
}
