/**
 * This stylesheet controls the look and feel of Opencast's series LTI tool.
 *
 * You may want to modify this to adjust the tool to the environment (e.g. the LMS) in which it is embedded.
 */

body {
  font-size: 14px;
  font-family: sans-serif;
  max-width: 800px;
  margin: 0 auto;
}

header {
  padding: 5px;
  margin: 15px;
}

div.loading {
  margin: 50px;
  padding: 50px;
  text-align: center;
  color: #666;
}

div.episode-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #eee;
  margin: 15px;
}

a.episode {
  display: block;
  text-decoration: none;
  color: black;
  background-color: #eee;
  padding: 5px;
  margin: 15px;
  flex-grow: 1;
}

a.episode:hover {
  background-color: #fafafa;
}

a.episode div {
  display: inline-block;
  padding: 20px;
}

a.episode div.preview {
  width: 200px;
}

a.episode div.desc h2 {
  margin: 0;
  margin-bottom: 5px;
}

/* Style The Dropdown Button */
.dropbtn {
  background-color: #eee;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: 2px solid black;
  border-radius: 2px;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #fafafa;
}

footer  {
  margin: 20px;
  text-align: center;
}

.paginationjs {
  display: inline-block;
}
