<section ng-show="open" ng-keyup="keyUp($event)" tabindex="1" class="modal modal-animation ng-hide modal-open" id="embedding-code" ng-controller="EventsCtrl">

  <header>
    <a class="fa fa-times close-modal" ng-click="close()"></a>
    <h2 translate="CONFIRMATIONS.ACTIONS.SHOW.EMBEDDING_CODE"><!-- Confirm --></h2>
  </header>

  <div class="embedded-code-boxes">
    <div id='620x349' class="embedSizeButton size_620x349" ng-class="{'embedSizeButtonSelected' :selectedBox === '620x349'}" ng-click ="getEmbedCode('620x349', id)">
      <span class="span-embedded-code"> 620x349 </span>
    </div>
    <div id='540x304' class="embedSizeButton size_540x304" ng-class="{'embedSizeButtonSelected' :selectedBox === '540x304'}" ng-click ="getEmbedCode('540x304', id)">
      <span class="span-embedded-code"> 540x304 </span>
    </div>
    <div id='460x259' class="embedSizeButton size_460x259" ng-class="{'embedSizeButtonSelected' :selectedBox === '460x259'}" ng-click ="getEmbedCode('460x259', id)">
      <span class="span-embedded-code"> 460x259 </span>
    </div>
    <div id='380x214' class="embedSizeButton size_380x214" ng-class="{'embedSizeButtonSelected' :selectedBox === '380x214'}" ng-click ="getEmbedCode('380x214', id)">
      <span class="span-embedded-code"> 380x214 </span>
    </div>
    <div id='300x169' class="embedSizeButton size_300x169" ng-class="{'embedSizeButtonSelected' :selectedBox === '300x169'}" ng-click ="getEmbedCode('300x169', id)">
      <span class="span-embedded-code"> 300x169 </span>
    </div>
  </div>

  <div id='' class="embedded-code-video">
    <textarea id='social_embed-textarea' class="social_embed-textarea embedded-code-textarea" rows='4' cols='1'>{{ embedCode }}</textarea>
  </div>

  <div class='copyConfirm'>
    <span id="copy_confirm_pre" translate="CONFIRMATIONS.EMBEDDING_CODE" class="embedded-code-no-visible" ng-style="confirmMsgVisibility"></span>
    <span id="copy_confirm" class="embedded-code-no-visible" ng-style="confirmMsgVisibility">{{ copiedBox }}</span>
  </div>

  <div class="embedded-code-copy-to-clipboard">
    <div class="btn-container" style="margin-bottom: 20px;">
      <a translate="COPY" class="cancel-btn" ng-click="copyToClipboard(embedCode)"><i><!--- Copy --></i></a>
    </div>
  </div>

</section>
