<section ng-show="open" ng-keyup="keyUp($event)" tabindex="1" class="modal modal-animation ng-hide" id="embedding-code">
  <header>
    <a class="fa fa-times close-modal" ng-click="close()"></a>
    <h2 translate="CONFIRMATIONS.ACTIONS.SHOW.EMBEDDING_CODE">
      <!-- Confirm -->
    </h2>
  </header>

  <script>
    var engageUrl = "<SERVER_URL>";
    var downloadLinks = [];

    $(document).ready(function () {
      var reply = $.ajax({
        url: "/api/info/organization/properties/engageuiurl",
        timeout: 3000,
        success: function (result) {
          engageUrl = result['org.opencastproject.engage.ui.url'];
          if (typeof engageUrl === "undefined") {
            engageUrl = "<SERVER_URL>";
          }

          //getting all available formats for direct download
          var apiCall = engageUrl + "/api/events/" + $("#id_video").html() + "?withpublications=true";
          var reply = $.ajax({
            url: apiCall,
            timeout: 3000,
            success: function (result) {
              var pubs = result["publications"];
              for (var i = 0; i < pubs.length; i++) {
                if (pubs[i]["channel"] == "engage-player") {
                  var mediaCnt = pubs[i]["media"].length;
                  var media = pubs[i]["media"];
                  media.sort((a, b) => (a["width"] > b["width"]) ? -1 : ((b["width"] > a["width"]) ? 1 : 0));

                  //add all necessary divs
                  for (var j = 0; j < mediaCnt; j++) {
                    var size = media[j]["width"] + "x" + media[j]["height"];
                    downloadLinks[size] = media[j]["url"];
                    var newBox = document.createElement("div");
                    switch (j) {
                      case 0: newBox.classList.add("size_620x349"); break;
                      case 1: newBox.classList.add("size_540x304"); break;
                      case 2: newBox.classList.add("size_460x259"); break;
                      case 3: newBox.classList.add("size_380x214"); break;
                      case 4: newBox.classList.add("size_300x169"); break;
                      default: newBox.classList.add("size_300x169");
                    }
                    newBox.classList.add("embedSizeButton");
                    newBox.classList.add("directLinkButton");
                    newBox.id = size;
                    document.getElementById("directLinks").appendChild(newBox);
                    var newBoxText = document.createElement("span");
                    newBoxText.classList.add("span-embedded-code");
                    newBoxText.textContent = size;
                    newBox.appendChild(newBoxText);
                  }
                }
              }
              //check what button is clicked and show code/link
              var embs = $(".embedSizeButton");
              for (var i = 0; i < embs.length; i = i + 1) {
                console.log(embs.length);
                var e = embs[i];
                e.onclick = function (event) {
                  var value = event.target ? event.target.textContent : event.toElement.textContent;
                  if (value) {
                    var embedSizeButtons = $(".embedSizeButton");
                    for (var j = 0; j < embedSizeButtons.length; j++) {
                      if (embedSizeButtons[j].id == value) {
                        embedSizeButtons[j].classList.add("embedSizeButtonSelected");

                        if (embedSizeButtons[j].classList.contains("directLinkButton")) {
                          $("#social_embed-textarea")[0].value = downloadLinks[embedSizeButtons[j].id];
                        } else {
                          var id = $("#id_video").html();
                          var url = engageUrl + "/play/" + id;
                          var size = value.trim().split("x");
                          $("#social_embed-textarea")[0].value = '<iframe allowfullscreen src="' + url + '" style="border:0px #FFFFFF none;" name="Player" scrolling="no" frameborder="0" marginheight="0px" marginwidth="0px" width="' + size[0] + '" height="' + size[1] + '"></iframe>';
                        }

                      } else {
                        embedSizeButtons[j].classList.remove("embedSizeButtonSelected");
                      }
                    }
                  }
                }
              };
            }
          });
        }
      });
    });

    function copyToClipboard() {
      var copyText = $("#social_embed-textarea")[0];
      copyText.select();
      document.execCommand("copy");
      $("#copy_confirm").html($(".embedSizeButtonSelected").attr('id'));
      $("#copy_confirm_pre").css('visibility', 'visible');
      $("#copy_confirm").css('visibility', 'visible');
    }

  </script>

  <div class="embedHeader">
    <h1>Einbettungscode</h1>
  </div>

  <div class="embedded-code-boxes">
    <div id=' 620x349 ' class="embedSizeButton size_620x349">
      <span class="span-embedded-code"> 620x349 </span>
    </div>
    <div id=' 540x304 ' class="embedSizeButton size_540x304">
      <span class="span-embedded-code"> 540x304 </span>
    </div>
    <div id=' 460x259 ' class="embedSizeButton size_460x259">
      <span class="span-embedded-code"> 460x259 </span>
    </div>
    <div id=' 380x214 ' class="embedSizeButton size_380x214">
      <span class="span-embedded-code"> 380x214 </span>
    </div>
    <div id=' 300x169 ' class="embedSizeButton size_300x169">
      <span class="span-embedded-code"> 300x169 </span>
    </div>
  </div>

  <div class="embedHeader">
    <h1>Direktlinks</h1>
  </div>

  <div class="embedded-code-boxes" id="directLinks">
  </div>

  <span id="id_video" class="embedded-code-no-visible">{{id}}</span>
  <div id='' class="embedded-code-video"><textarea id='social_embed-textarea'
      class="social_embed-textarea embedded-code-textarea" rows='4' cols='1'></textarea></div>

  <div class='copyConfirm'>
    <span id="copy_confirm_pre" translate="CONFIRMATIONS.EMBEDDING_CODE" class="embedded-code-no-visible embed"></span>
    <span id="copy_confirm" class="embedded-code-no-visible"></span>
  </div>

  <div class="embedded-code-copy-to-clipboard">
    <div class="btn-container" style="margin-bottom: 20px; text-align: center;">
      <a translate="COPY" class="cancel-btn" onclick="copyToClipboard()"><i>
          <!--- Copy -->
        </i></a>
    </div>
  </div>

</section>