/*********************************************************
 * Add theodul controls plugin (mobile mode) scss here.
 * This file is compiled with compass,
 * see http://compass-style.org/
 *********************************************************/


@import "compass/css3/images";
@import "compass/css3/text-shadow";
@import "compass/css3/flexbox";
@import "compass/css3/transition";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";

#engage_controls {
	#switchPlayers {
	  .switchButton {
	  	position: absolute;
	  	z-index: 1;
		  top: 0;
		  bottom: 0;
			width: 15%;
			height: 100%;

			visibility: visible;
			opacity: 1;
			@include transition(visibility 0s, opacity 0.7s ease-in-out 0.5s);
			
			display: block;
			background-repeat: no-repeat;
			border: 0;
			font-size: 40px;
			text-decoration: none;
			cursor: pointer;
			span.glyphicon {
				// vertical center with absolute positioning
				position: absolute;
				top: 0; bottom: 0; left: 0; right: 0;
				height: 40px;
				margin: auto;
				padding: 0 3px;
			}
			&:focus, &:hover {
				@include single-text-shadow(-2px, 2px, 2px, 1px, #333);
			}
	  }

	  #prevVideo {
			@include background-image(linear-gradient(to left, rgba(#000, 0), rgba(#000, 0.5)));
			left: 0;
			text-align: left;
	  }
	  #nextVideo {
			@include background-image(linear-gradient(to right, rgba(#000, 0), rgba(#000, 0.5)));
			right: 0;
			text-align: right;
	  }
	}

	/* hide prevVideo / nextVideo controls if it's the first / last video, respectively */
	&.first #prevVideo, &.last #nextVideo {
		visibility: hidden !important;
		opacity: 0 !important;
	}
}

#engage_controls {
	#big_play_button {
		position: absolute;
		top: 50%;
		left: 50%;
		font-size: 100px;
		font-size: 20vmin;
		line-height: 1;
		color: #333;
		cursor: pointer;
		margin: -50px 0 0 -50px;

		background: rgba(#fff, 0.7);
		padding: 10px 10px 0 10px;
		@include border-radius(10px);
		@include box-shadow(1px 1px 9px rgba(20, 20, 20, 0.4));

		&:focus, &:hover {
			color: #111;
			@include box-shadow(1px 1px 9px rgba(20, 20, 20, 0.6), inset 1px 1px 3px rgba(20, 20, 20, 0.6));
		}
	}

	#navigation_wrapper {
		position: absolute;
		z-index: 10;
		bottom: 0;
		left: 0;

		width: 100%;
		padding: 5px 5px 2px;
		background: rgba(#fff, 0.8);
    border-top: 1px solid #2a6496;

		@include display-flex;

    .ui-slider-handle {
      position: absolute;
      z-index: 2;
      width: 25px !important;
      height: 25px !important;
      cursor: pointer !important;
      background: url('../images/handle.png') no-repeat 50% 50% !important;
      font-weight: bold;
      color: #1C94C4;
      outline: none;
      border: none !important;
      top: -10px !important;
      margin-left: -12px;
    }

		#navigation_control {
			@include flex(0 0 auto);
			font-size: 27px;
			cursor: pointer;
		}

		#navigation_time {
			@include flex(0 0 auto);
			margin-top: 4px;
      margin-right: 12px;
      font-size: 12px;
      #navigation_time_current {
        color: #666;
      }
      p {
        margin: 0;
        line-height: 1.2;
      }
		}

		#slider {
			@include flex(1 0 30px);

	    margin: 14px 17px 0px;
	    border-width: 1px;
	    border-style: solid;
	    border-color: #333 #333 #777 #333;
	    border-radius: 25px;
	    height: 6px;
	    background-color: #8e8d8d;
	    background: url('../images/bg-track.png') repeat top left;
	    box-shadow: inset 0 1px 5px 0px rgba(0, 0, 0, .5), 0 1px 0 0px rgba(250, 250, 250, .5);
		}

		#volume {
			@include flex(0 0 35px);
			position: relative;

			font-size: 27px;
			text-align: center;

			#volumeIcon {
				cursor: pointer;
			}

      #volumeSliderWrapper {
        position: absolute;
        bottom: 100%;
        background: rgba(#fff, 0.8);
        border-radius: 5px 5px 0 0;
        border: 1px solid #2a6496;
        border-bottom: none;
        padding: 13px 2px 8px;
        width: 100%;
        height: 95px;
        margin-bottom: 6px;
      }

			#volumeSlider {
		    border-width: 1px;
		    border-style: solid;
		    border-color: #333 #777 #333 #333;
		    border-radius: 25px;
		    height: 100%;
		    width: 6px;
        margin: 0 auto;
		    background-color: #8e8d8d;
		    background: url('../images/bg-track.png') repeat top left;
		    box-shadow: inset 0 1px 5px 0px rgba(0, 0, 0, .5), 0 1px 0 0px
		    rgba(250, 250, 250, .5);

        .ui-slider-handle {
          top: auto !important;
          margin-left: -2px !important;
        }
			}
		}

		.ui-slider-range {
	    background: #ffffff; /* Old browsers */
	    background: -moz-linear-gradient(top, #ffffff 0%, #eaeaea 100%);
	    /* FF3.6+ */
	    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff),
					 color-stop(100%, #eaeaea)); /* Chrome,Safari4+ */
	    background: -webkit-linear-gradient(top, #ffffff 0%, #eaeaea 100%);
	    /* Chrome10+,Safari5.1+ */
	    background: -o-linear-gradient(top, #ffffff 0%, #eaeaea 100%);
	    /* Opera 11.10+ */
	    background: -ms-linear-gradient(top, #ffffff 0%, #eaeaea 100%);
	    /* IE10+ */
	    background: linear-gradient(top, #ffffff 0%, #eaeaea 100%); /* W3C */
	    filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#ffffff',
								 endColorstr='#eaeaea', GradientType=0); /* IE6-9 */
	    position: absolute;
	    border: 0;
	    top: 0;
	    height: 100%;
	    border-radius: 25px;
		}
	}
}
