/**
 * Licensed to The Apereo Foundation under one or more contributor license
 * agreements. See the NOTICE file distributed with this work for additional
 * information regarding copyright ownership.
 *
 *
 * The Apereo Foundation licenses this file to you under the Educational
 * Community License, Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a copy of the License
 * at:
 *
 *   http://opensource.org/licenses/ecl2.txt
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.  See the
 * License for the specific language governing permissions and limitations under
 * the License.
 *
 */

// Roll Up Menu
// ----------------------------------------

#roll-up-menu {
    float: left;
    width: 80px;
    background: #fff;
    border: $thin-border-stroke #c3cbd0;
    border-top: none;
    @include border-bottom-radius(4px);
    position: absolute;
    top: 1px;
    left: -1px;

    // Hide menu
    opacity: 0;

    #nav-container {
        display: none;
        margin-top: -1px;
        padding-top: 1px;
    }

    // Nav icons.
    a {
        $height: 60px;

        width: 80px;
        height: $height;
        line-height: $height;
        margin: 0 auto;
        text-align: center;
        vertical-align: middle;
        display: block;

        > i {
            display: inline-block;
            margin: 0 auto;
            vertical-align: middle;
            position: relative;
            line-height: 50px;
            @include transition(all .2s);
            color: #c9c9c9;
            
            &[data-title]:hover:after {
                display: block;
                position: absolute;
                content: attr(data-title);
                z-index: $max-z;
                border: $thin-border-stroke #c3cbd0;
                opacity: 0.9;
                @include transition(all .2s);
                @include linear-gradient(top, #fff, #f3f4f4);
                padding: 0 10px;
                line-height: 25px;
                left: 40px;
                top: 13px;
                border-radius: 4px;
                color: $dark-prim-color;
                font-size: 10px;
                font-weight: 600;
                text-transform: uppercase;
            }
        }
        
        &:active > i {
            color: #A1A1A1;
        }
        
        &:hover > i {
           color: #A1A1A1;
        }
        
        @key_frames fadeIn {
            0% {
                opacity: 0;
            }
            80% {
                opacity: 0;
            }
            100% {
                opacity: 0.9;
            }
        }
        
        $icon-color:        inherit;
        $icon-position:     before;
        $icon-display:      inherit;
        $icon-font-size:    28px;
        $icon-margin:       inherit;
        $icon-padding:      inherit;
        $icon-weight:       inherit;
        $icon-line:         inherit;
        
        .dashboard {
            @include fa-icon($fa-var-desktop, $icon-position, $icon-display, $icon-margin, $icon-padding, $icon-color, $icon-font-size, $icon-weight, $icon-line);
        }

        .events {
            @include fa-icon($fa-var-calendar-o, $icon-position, $icon-display, $icon-margin, $icon-padding, $icon-color, $icon-font-size, $icon-weight, $icon-line);
        }

        .systems {
            @include fa-icon($fa-var-server, $icon-position, $icon-display, $icon-margin, $icon-padding, $icon-color, $icon-font-size, $icon-weight, $icon-line);
        }

        .recordings {
            @include fa-icon($fa-var-video-camera, $icon-position, $icon-display, $icon-margin, $icon-padding, $icon-color, $icon-font-size, $icon-weight, $icon-line);
        }

        .users {
            @include fa-icon($fa-var-user, $icon-position, $icon-display, $icon-margin, $icon-padding, $icon-color, $icon-font-size, $icon-weight, $icon-line);
        }

        .integrations {
            @include fa-icon($fa-var-wrench, $icon-position, $icon-display, $icon-margin, $icon-padding, $icon-color, $icon-font-size, $icon-weight, $icon-line);
        }

        .configuration {
           @include fa-icon($fa-var-cogs, $icon-position, $icon-display, $icon-margin, $icon-padding, $icon-color, $icon-font-size, $icon-weight, $icon-line);
        }
    }
}
