Button.btnfullscreen
{
	font-size: 0; 
	skin: Embed(skinClass="Button_fullscreenlarge_skin");
}

Button.FullscreenOut
{
	font-size: 0; 
	skin: Embed(skinClass="Button_fullscreenlarge_skin");
}

Button.PlayBig
{
 	font-size: 0; 
 	upSkin: Embed(source='Buttons_Main_Large.swf', symbol='btn_play');
  	overSkin: Embed(source='Buttons_Main_Large.swf', symbol='btn_play_hover');
  	downSkin: Embed(source='Buttons_Main_Large.swf', symbol='btn_play_hover');
  	disabledSkin: Embed(source='Buttons_Main_Large.swf', symbol='btn_play');
  	selectedUpSkin: Embed(source='Buttons_Main_Large.swf', symbol='btn_play'); 
  	selectedOverSkin: Embed(source='Buttons_Main_Large.swf', symbol='btn_play_hover');
  	selectedDownSkin: Embed(source='Buttons_Main_Large.swf', symbol='btn_play');
  	selectedDisabledSkin: Embed(source='Buttons_Main_Large.swf', symbol='btn_play');  
}

Button.PauseBig
{
  	font-size: 0;
  	upSkin: Embed(source='Buttons_Main_Large.swf', symbol='btn_pause');
  	overSkin: Embed(source='Buttons_Main_Large.swf', symbol='btn_pause_hover');
  	downSkin: Embed(source='Buttons_Main_Large.swf', symbol='btn_pause_hover');
  	disabledSkin: Embed(source='Buttons_Main_Large.swf', symbol='btn_pause');
  	selectedUpSkin: Embed(source='Buttons_Main_Large.swf', symbol='btn_pause'); 
  	selectedOverSkin: Embed(source='Buttons_Main_Large.swf', symbol='btn_pause_hover');
  	selectedDownSkin: Embed(source='Buttons_Main_Large.swf', symbol='btn_pause');
  	selectedDisabledSkin: Embed(source='Buttons_Main_Large.swf', symbol='btn_pause');  
}

Button.audiomax
{
	skin: Embed(skinClass="Button_audiomax_skin");
}
Button.audiomed
{
	skin: Embed(skinClass="Button_audiomed_skin");
}
Button.audiomin
{
	skin: Embed(skinClass="Button_audiomin_skin");
}
Button.audioof
{
	skin: Embed(skinClass="Button_audioof_skin");
}
Button.backward
{
	skin: Embed(skinClass="Button_backward_skin");
}
Button.forward
{
	skin: Embed(skinClass="Button_forward_skin");
}
Button.fullscreen
{
	skin: Embed(skinClass="Button_fullscreen_skin");
}
Button.pause
{
	skin: Embed(skinClass="Button_pause_skin");
}
Button.play
{
	skin: Embed(skinClass="Button_play_skin");
}
Button.scrubber
{
	skin: Embed(skinClass="Button_scrubber_skin");
}
Button.skipbackward
{
	skin: Embed(skinClass="Button_skipbackward_skin");
}

Button.skipbackwarddisabled
{
	skin: Embed(skinClass="Button_skipbackwarddisabled_skin");
}

Button.skipforward
{
	skin: Embed(skinClass="Button_skipforward_skin");
}
Button.skipforwarddisabled
{
	skin: Embed(skinClass="Button_skipforwarddisabled_skin");
}
Button.cc
{
	skin: Embed(skinClass="Button_cc_skin");
}
Button.ccdisabled
{
	skin: Embed(skinClass="Button_ccdisabled_skin");
}
.HSliderSeek
{
    thumb-skin: Embed(skinClass="Slider_thumbSkin");
   	trackSkin: Embed(skinClass="Slider_trackSkin");
    track-highlight-skin: Embed(skinClass="Slider_trackHighlightSkin");
    showTrackHighlight:true;
    themeColor: #f88b00;
}
.HSliderVolume
{
   thumb-skin: Embed(source='Buttons_Full_Screen.swf', symbol='btn_volume_ctrl');
   thumbUpSkin: Embed(source='Buttons_Full_Screen.swf', symbol='btn_volume_ctrl');
   thumbDownSkin: Embed(source='Buttons_Full_Screen.swf', symbol='btn_volume_ctrl');
   thumbOverSkin: Embed(source='Buttons_Full_Screen.swf', symbol='btn_volume_ctrl');
}
.captions
{
	color: #ffffff;
	backgroundColor: #125458;
	text-align: center;
}
.videocontrollerLabel
{
    color: #ffffff;
    font-size: 14; 
}

.audioLabel
{
    color: #000000;
    font-size: 10; 
}
.errorLabel
{
    color: #000000;
    font-size: 16; 
}
.timeBackground
{
    borderSkin: Embed(source='Buttons_Full_Screen.swf', symbol='bg_time');
}
.volumeBackground
{
    borderSkin: Embed(source='Buttons_Full_Screen.swf', symbol='bg_volume_controls');
}