#
# This node is member of the following cluster groups
#
groups = default

#
# The following properties define if the local event listeners (per resource)
# A local listener listens for local events (like bundle install, etc) and broadcast this state change to the cluster
#
bundle.listener = false
config.listener = false
feature.listener = false

#
# Cluster event producer
#
producer = true

#
# Cluster event consumer
#
consumer = true

#
# Cluster event handlers
#
# bundle event handler
handler.org.apache.karaf.cellar.bundle.BundleEventHandler = true
# config event handler
handler.org.apache.karaf.cellar.config.ConfigurationEventHandler = true
# feature event handler
handler.org.apache.karaf.cellar.features.FeaturesEventHandler = true
# DOSGi event handler
handler.org.apache.karaf.cellar.dosgi.RemoteServiceCallHandler = true
# OSGi event handler
handler.org.apache.karaf.cellar.event.ClusterEventHandler = true
# OBR event handler
handler.org.apache.karaf.cellar.obr.ObrBundleEventHandler = true
handler.org.apache.karaf.cellar.obr.ObrUrlEventHandler = true
# HTTP balancer event handler
handler.org.apache.karaf.cellar.http.balancer.BalancerEventHandler = true

#
# Excluded config properties from the sync
# Some config properties can be considered as local to a node, and should not be sync on the cluster.
#
config.excluded.properties = felix.fileinstall.filename, felix.fileinstall.dir, felix.fileinstall.tmpdir, org.ops4j.pax.url.mvn.defaultRepositories
