
# Configure the expected LDAP instance IDs for each organization.
# Instances are defined in etc/org.opencastproject.userdirectory.ldap-ID.cfg
# Format is ldap.instances.ORGANIZATION_ID=comma-separated list of LDAP instance IDs
#
# Default: None
#ldap.instances.mh_default_org=ldap1,ldap2
#ldap.instances.dce=ldap3
#ldap.instances.manchester=ldap4

