#
# HTTP Header name that will contain the username
#header=X-WEBAUTH-USER

# Token used to authorize Tobira callback requests. If this token is set,
# the callback endpoint will be enabled.
#callbackToken=

# Pattern to match the roles that are allowed to be part of the user outcome.
#allowedRolesPattern=ROLE_TOBIRA_.*
