# If false a user will not be able to delete a series containing events in Admin UI
# Note: Have a look at org.opencastproject.ui.metadata.CatalogUIAdapterFactory-episode-common.cfg
#       property.series.required=false if you want to configure if a event has to have a series
# Default: true
# series.hasEvents.delete.allow=true
