# Configuration for the service registry

# Number of failed jobs on a service before to set it in error state. Set to -1 to disable error states completely.
# Default: 10
#max.attempts=10

# Comma-separated list of service types that should never go into error state, e.g. org.opencastproject.assetmanager
# Default: None
#no.error.state.service.types=

# The interval in seconds between checking if the hosts in the service registry hosts are still alive.
# Set to 0 to disable checking if hosts are still alive and able to be dispatched to.
# Default: 60
#heartbeat.interval=60

# Whether to collect detailed job statistics information. This can cause excessive database load (see MH-10034)!
# Default: false
#jobstats.collect=false

# The maximum age (in days) of jobs that will be considering for the generation of the service statistics.
# Note that this setting does have a large impact on the performance of service statistics generation.
# Default: 14
#org.opencastproject.statistics.services.max_job_age = 14

# Comma-separated list of encoding specialized worker nodes. Specified workers are preferred when dispatching encoding jobs.
# Default: empty
#org.opencastproject.encoding.workers=http://example.com, http://example1.com:8080

# Numeric value between 0 and 1. Sets an load value under which specified encoding workers are preferred over other workers when dispatching encoding jobs.
# A value of 0.2 corresponds to a threshold of 20% worker load
# Default: 0.0
#org.opencastproject.encoding.workers.threshold=

# Flag to enable dispatching by the servers hardware load.
# When dispatching jobs, nodes with lower hardware utilization get preffered.
# When a nodes hardware load exceeds its max.hardwareload it doesn't accept anymore jobs.
#Default: false
#hardware.load.enabled=false

# The maximum hardware load on this server.
# Default: number of cores
# org.opencastproject.server.max.hardwareload=24
