# MurmurAI STT configuration file

# Configuration for setting the MurmurAI server URL.
murmurai.server.url=http://localhost:8000

# Configuration for setting the MurmurAI API key.
murmurai.api.key=secret.api.key

# Configuration for setting the polling interval in seconds.
# This is used when waiting for results.
# Default: 10
#murmurai.polling.interval=10

# Configuration for setting the maximum wait time in seconds.
# If the time has been reached, the transcription is expected to have failed.
# Default: 7200
#murmurai.max.wait.time=7200
