# Stream Security Configuration:

# For further information please see:
# http://docs.opencast.org/latest/admin/configuration/stream-security/

# This property changes the number of seconds from when a link in the admin ui is signed until is expires. Default is
# 7200 seconds (2 hours) which should give the user more than enough time to access the content. Content that is being
# accessed will not expire i.e. a video link clicked on in the admin ui being played will not stop playing or
# downloading.
# url.signing.expires.seconds=7200

# If this property is true then signed URLs for the admin ui, such as videos via links will be limited to the IP address
# of the client making the original request.
# url.signing.use.client.ip=true

# Flavor subtype that identifies preview elements. Note that
# only recordings with preview elements may be edited with
# the video editor.
#
# The default workflows will produce and publish preview artifacts
# like 'presenter/preview', therefore 'preview' is the
# recommended default value.
#
preview.subtype=preview

# If this property is true, we only see the series to which we have write access
# within the new event wizard or event details.
# Default: false
# eventModal.onlySeriesWithWriteAccess=false

# If this property is true, we only see the events to which we have write access
# to in the events tab.
# Default: false
# eventsTab.onlyEventsWithWriteAccess=false
