# Configuration for setting a custom path to the Whisper command line tool
# Default: whisper
#whispercpp.root.path=whispercpp

# Absolute path to language model
# RPMs install models to /usr/share/ggml/ggml-<model>.bin
# Available models: tiny, base, small, medium, large.
# Default: /usr/share/ggml/ggml-base.bin
#whispercpp.model=/usr/share/ggml/ggml-base.bin
