# The load introduced on the system by creating an analyze job
# This job involves a sox processes to analyze the audio stream
# Since this will fairly quickly add up, these should be relatively expensive, but not cripplingly so
# Default: 0.2
#job.load.analyze=0.2

# The load introduced on the system by creating a normalize job
# This job involves a sox processes to normalize the audio stream
# This is a long, expensive operations and it's load should be high
# Default: 0.2
#job.load.normalize=0.2
