# Configuration for the Administrative User Interface

# Flavor subtype that identifies preview elements. Note that
# only recordings with preview elements may be edited with
# the video editor.
#
# The default workflows will produce and publish preview artifacts
# like 'presenter/preview', therefore 'preview' is the
# recommended default value.
#
# Default: preview
#preview.subtype=preview

# Flavor subtype that identifies waveform elements.
#
# The default workflow will produce and publish waveform artifacts
# like 'presenter/waveform', therefore 'waveform' is the
# recommended default value.
#
# Default: waveform
#waveform.subtype=waveform

# Flavor that identifies the existence of a smil cutting file.
# Note that only recordings with such an element shows the
# cutting segments in the video editor.
#
# The default workflows will produce and archive cutting artifacts
# like 'smil/cutting', therefore 'smil/cutting' is the
# recommended default value.
# Has to be the same as <configuration key="target-smil-flavor">smil/cutting</configuration>
# within a Workflow editor operation.
#
# Default: smil/cutting
#smil.catalog.flavor=smil/cutting

# Tags which are set to the generated smil cutting catalog
# by the video editor. The value is a comma separated list.
#
# The default workflows will archive artifacts with the tag
# "archive", therefore "archive" is recommended.
#
# Default: archive
#smil.catalog.tags=archive

# Flavor that identifies the existence of silence catalogs. Note that
# only recordings with such elements shows silence detection segments
# in the video editor.
#
# The default workflows will produce and archive silence artifacts
# like 'presenter/silence', therefore '*/silence' is the
# recommended default value.
#
# Default: */silence
#smil.silence.flavor=*/silence

# Flavor to use for thumbnail preview image which is used by the Admin UI.
#
# The video editor will automatically create and publish a thumbnail preview image. Since the thumbnail preview image
# is also generated by the "Update previews" workflow, the flavor of the thumbnail preview image should be used
# consistently in both the Admin UI and the "Update previews" workflow.
#
# The default "Update previews" workflow will produce and publish a thumbnail preview artifact with flavor
# 'thumbnail/preview', therefore 'thumbnail/preview' is the recommended default value.
#
# Default: thumbnail/preview
#thumbnail.preview.flavor=thumbnail/preview

# Encoding profile used to extract the thumbnail preview image.
#
# The video editor will automatically extract the thumbnail image if required using this encoding profile.
#
# Default: editor.thumbnail.preview
#thumbnail.preview.profile=editor.thumbnail.preview

# Encoding profile used to downscale the thumbnail preview image.
#
# The video editor will automatically downscale the thumbnail image if required using this encoding profile.
#
# Default: editor.thumbnail.preview.downscale
#thumbnail.preview.profile.downscale=editor.thumbnail.preview.downscale

# The type of the source track to extract the default thumbnail from. If this track does not exist, the secondary
# source track as specified by "thumbnail.source.flavor.type.secondary" is used.
#
# Engage shows the 'presenter/*' thumbnail per default. Therefore, 'presenter' is the recommended default value.
#
# Default: presenter
#thumbnail.source.flavor.type.primary=presenter

# The type of the source track to extract the default thumbnail from in case no track with the type
# "thumbnail.source.flavor.type.primary" is available.
# The corresponding subtype is specified by thumbnail.source.flavor.subtype.
#
# Default: presentation
#thumbnail.source.flavor.type.secondary=presentation

# This is the subtype of the flavor used to identify the source tracks to extract the default thumbnail.
#
# The default workflows use flavors like 'presenter/source'. Therefore, 'source' is the recommended default value.
#
# Default: source
#thumbnail.source.flavor.subtype=source

# Flavor for the uploaded thumbnail.
#
# When the user uploads an thumbnail image, it needs to be made persistent. This is archieved by adding an attachment
# to the media package and then taking a snapshot of the media package.
# This property defines the flavor of this attachment.
#
# Default: thumbnail/source
#thumbnail.uploaded.flavor=thumbnail/source

# Tags to tag the uploaded thumbnail with. This can be a comma-separated list.
#
# When the user uploads an thumbnail image, it needs to be made persistent. This is archieved by adding an attachment
# to the media package and then taking a snapshot of the media package.
# This property defines that the tags of that attachment.
#
# The workflows need to ensure that this attachment is included in further snapshots. Since Opencast uses the
# tag 'archive' to identify media package elemements that should be archived, 'archive' is the recommended default
# value.
#
# Default: archive
#thumbnail.uploaded.tags=archive

# The position at which to extract the default thumbnail as a number of type double, specified in seconds.
#
# The default workflow uses '1', therefore '1' is the recommended default value.
#
# Default: 1.0
#thumbnail.default.position=1.0

# The encoding profile that is used to extract a high quality master image in case multiple thumbnail
# images are required.
# This is only relevant if the automatic distribution of thumbnails is enabled.
#
# Default: editor.thumbnail.master
#thumbnail.master.profile=editor.thumbnail.master

#
# Thumbnail auto distribution settings
#

# Whether new thumbnails shall be automatically distributed to OAI-PMH and External API publication channels
#
# Default: false
#thumbnail.distribution.auto=false

# OAI-PMH channel to distribute thumbnails to in case auto-distribution is enabled
#
# Default: oaipmh-default
#thumbnail.distribution.oaipmh.channel=oaipmh-default

# Flavor for thumbnails distributed to OAI-PMH channel in case auto-distribution is enabled
#
# Note that this flavor is applied to the source track flavor.
# The default workflow will produce and publish thumbnail artifacts like 'presenter/search+preview', therefore
# '*/search+preview' is the recommended default value.
#
# Default: */search+preview
#thumbnail.distribution.oaipmh.flavor=*/search+preview

# Comma-separated list of tags of the thumbnail attachments for the OAI-PMH channel in case auto-distribution
# is enabled
#
# Default:engage-download
#thumbnail.distribution.oaipmh.tags=engage-download

# Comma-separated list of encoding profiles used to downscale the master image to generate the thumbnail images for
# the OAI-PMH channel in case auto-distribution is enabled
#
# Default: search-cover.http.downscale
#thumbnail.distribution.oaipmh.profiles=search-cover.http.downscale

# Configurable publication channel to distribute thumbnails to in case auto-distribution is enabled
#
# Default: api
#thumbnail.distribution.configurable.channel=api

# Flavor for thumbnails distributed to the configurable publication channel in case auto-distribution is enabled
#
# Note that this flavor is applied to the source track flavor.
# The default workflow will produce and publish thumbnail artifacts like 'presenter/search+preview', therefore
# '*/search+preview' is the recommended default value.
#
# Default: */search+preview
#thumbnail.distribution.configurable.flavor=*/search+preview

# Comma-separated list of tags of the thumbnail attachments for the configurable publication channel in case
# auto-distribution is enabled
#
# Default:engage-download
#thumbnail.distribution.configurable.tags=engage-download

# Comma-separated list of encoding profiles used to downscale the master image to generate the thumbnail images for
# the configurable publication channel in case auto-distribution is enabled
#
# Default: search-cover.http.downscale
#thumbnail.distribution.configurable.profiles=search-cover.http.downscale

# Flavor that identifies the left hand stream, for use in the "Tracks" and "Thumbnail" panels of the video editor.
#
# The default workflows use presenter/source, so that's the recommended default value.
#
# Default: presenter/source
#sourcetrack.left.flavor=presenter/source

# Flavor that identifies the right hand stream, for use in the "Tracks" and "Thumbnail" panels of the video editor.
#
# The default workflows use presentation/source, so that's the recommended default value.
#
# Default: presentation/source
#sourcetrack.right.flavor=presentation/source

# Flavor subtype that identifies audio preview elements, for use in the
# "Tracks" panel of the video editor.
#
# The default workflows will produce and publish audio preview artifacts
# like 'presenter/audio+preview', therefore 'audio+preview' is the
# recommended default value.
#
# Default: audio+preview
#preview.audio.subtype=audio+preview

# Flavor subtype that identifies video preview elements, for use in the
# "Tracks" panel of the video editor.
#
# The default workflows will produce and publish video preview artifacts
# like 'presenter/video+preview', therefore 'video+preview' is the
# recommended default value.
#
# Default: video+preview
#preview.video.subtype=video+preview

# ID of the workflow used to unpublish events when deleting.
#
# Default: delete
# retract.workflow.id=delete
