# Enable or disable quartz job to schedule workflows
# default = false
# enabled=false

# Set a cron expression which will be used to schedule the quartz job
#
# See http://www.quartz-scheduler.org/api/1.8.5/org/quartz/CronExpression.html
# for more information about cron expressions
# Every 5 minutes
cron-expression=0 0/5 * ? * * *

# If transcription has completed but the workflow to attach the transcripts
# could not be started, it will retry in the next run until the time
# below has elapsed.
# Default: 24 hours
#abandon-after-secs=86400

# Workflow to run to attach transcripts when in async mode. Leave empty if
# not attaching transcripts using a separate, async workflow.
#workflow=

# Workflow to run to retry subtitle generation when in async mode. Leave empty if
# not retrying when errors occur.
#retry-workflow=

# Maximum number of automated tries to generate subtitles in case of failure. All
# tries, manual or automated, are included in this count. Note that workflows can
# always be started manually, independent of max-tries.
# Default: no retries
#max-tries=0

