# The URL to use to connect to Matomo
# Default: https://your-matomo-instance.com
# matomo.api.url=https://your-matomo-instance.com

# The Matomo API token to use to connect to Matomo
# matomo.api.token=01234567890abcdef1234567890abcdef
