# A JSON object which maps from series provider IDs to episode provider IDs. The keys of the object have to be series
# provider IDs and their values have to be corresponding episode provider IDs. If these mappings are defined, then,
# when exporting series statistics data, the data of all events of the series will be exported, instead of the series
# data. So you get more detailed data when providing the mappings. However, if you don't provide a mapping for a certain
# provider, you will be able to export the lower detailed series data. If you want the detailed data, Opencast needs to
# know which statistics provider should be used on the episodes of the series you are exporting. That's why this mapping
# is necessary.
# Example: series.to.event.provider.mappings=\{\"series.views.sum.influx\":\"episode.views.sum.influx\",\"foo\":\"bar\"\}
#
# Default: not set
#series.to.event.provider.mappings=
