# Specify user to use when ingesting media from the inbox
user.name=admin
user.organization=mh_default_org

# Specify the workflow definition (by its identifier) to run for media, ingested from the inbox
workflow.definition=schedule-and-upload

# Specify flavor to use for ingested media files. This configuration has no effect on zipped mediapackages since they
# contain the flavor information in their manifest xml file.
media.flavor=presentation/source

# Specify the workflow configuration
# Example:
#   workflow.config.{key}={value}
workflow.config.flagForReview=true
workflow.config.straightToPublishing=false

# Path to the Inbox directory
inbox.path=${karaf.data}/inbox

# Inbox polling interval in ms.
inbox.poll=5000
