# Basic statistics data-completeness threshold.
#
# Statistical data may be incomplete or missing entirely before statistics tracking existed, or before a change
# to how it works. By default, the threshold used to hedge this to users is the date statistics tracking first started
# up on this server.
#
# Uncomment and set this to override that default with a specific date (ISO format, e.g. 2026-08-28).
#completeness.threshold.date=2026-08-28
