header {
  padding: 5px;
  margin: 15px;
}

.episode-item {
    cursor: pointer;
}

.thumbnail-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 90px;
}

.thumbnail-image {
  max-width: 100%;
  max-height: 100%;
}