<!-- theodul video videojs plugin mobile mode -->
<div id="videojs_wrapper" class="mobile_wrapper" align="center">
        <% if(typeof ids !== "undefined" ){ var i = 1;%>
        <% _.each(ids, function(id) { %>
        <div class="videoDisplay">
	        <div id="videoDisplay<%= i%>" class="mobile_video_display">
	            <video id="<%= id %>" class="video-js vjs-default-skin container" width="auto" height="auto" data-setup="{}"></video>
	        </div>
	    </div>
        <% i++;}); %>
        <% } %>
</div>