html {
    background-color: #000000;
}

body {
	overflow:hidden;
    background-color: #000000;
    color: #FFFFFF;
}

/* Classes */

/* Start: No Javascript activated Error Box customization */
#noJSAlert-matter {
    color: #A72123;
    height: 20px;
    font-size:20px;
    font-family: arial, helvetica, clean, sans-serif;
    height: 20px;
    line-height: 20px;
    vertical-align: bottom;
    position: relative;
}

#noJSAlert-horn {
    color: #F6921E;
    font-size:20px;
    font-family: arial, helvetica, clean, sans-serif;
    height: 20px;
    line-height: 20px;
    vertical-align: bottom;
    position: relative;
}
/* End: No Javascript activated Error Box customization */

/* IDs */

/* Start: Flash Player loading */
#oc_flash-player-loading {
    background-color: #000000;
    vertical-align: middle;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 0px;
    /* width: 63%; */
    height: 20px;
    display: block;
    margin-left: 10%;
    margin-right: 0 auto;
}

#initializing-matter {
    color: #A72123;
    height: 20px;
    font-size:20px;
    font-family: arial, helvetica, clean, sans-serif;
    float: left;
    height: 20px;
    line-height: 20px;
    vertical-align: bottom;
    position: relative;
}

#initializing-horn {
    color: #F6921E;
    font-size:20px;
    font-family: arial, helvetica, clean, sans-serif;
    float: left;
    height: 20px;
    line-height: 20px;
    vertical-align: bottom;
    position: relative;
}

#initializing {
    font-size:20px;
    color:#FFFFFF;
    font-family: arial, helvetica, clean, sans-serif;
    float: left;
    height: 20px;
    line-height: 20px;
    vertical-align: bottom;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
}

#loading-init {
    background-image: url("../img/misc/squares.gif");
    background-repeat: no-repeat;
    background-position: bottom center;
    display:block;
    width: 43px;
    height: 18px;
    float: left;
    position: relative;
}
/* End: Flash Player loading */

#oc_current-time {
    margin-top: 2px;
}

#oc_duration {
    margin-top: 2px;
}

#of {
    margin-top: 2px;
}

#oc_video-cc {
    margin-left: 2px;
}

#scrubber-table {
    width: 100%;
    float: left;
    margin-top: -5px;
    margin-bottom: -3px;
}

#oc_volume-menue {
    visibility: hidden;
}

#data, #analytics, #annotation, #segments_ui_slider_data1, #segments_ui_slider_data2, #segments_ui_slider_information, #segment-tooltip, #segments-table2, #oc_draggable-embed, #oc_segments-embed, #oc_video-player-controls, #oc_video-player-controls-embed, #oc_video-controls, #oc_video-time, #oc_sound {
    display: none;
}
