/* Classes */

.scroll {
    height: 100px;
    overflow: scroll;
}

.centeredImage {
    text-align: center;
    display: block;
}

.scroll {
    overflow: hidden;
}

.loadingImage {
    background-image: url("../img/squares.gif");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 11px;
    display:block;
}

input.ui-button {
    padding: 0 0;
}

/* IDs */

#matterhorn-main-logo {
    background-image: url("../img/Matterhorn_80x56.gif");
    background-repeat: no-repeat;
    background-position: center;
    display:block;
    width: 80px;
    height: 56px;
}

/* Start: Flash Player loading */
#oc_flash-player-loading {
    background-color: none;
    vertical-align: middle;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 50px;
    padding: 0px;
    width: 37%;
    height: 140px;
    display: block;
    margin-left: 37%;
    margin-right: 0 auto;
}

#matterhorn-init-logo {
    background-image: url("../img/MatterhornLogo_loading.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    display:block;
    width: 120px;
    height: 90px;
    float: left;
    position: relative;
}

#initializing {
    font-size:20px;
    font-family: arial, helvetica, clean, sans-serif;
    float: left;
    height: 90px;
    line-height: 165px;
    vertical-align: bottom;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
}

#loading-init {
    background-image: url("../img/squares.gif");
    background-repeat: no-repeat;
    background-position: bottom center;
    display:block;
    width: 43px;
    height: 90px;
    float: left;
    position: relative;
}
/* End: Flash Player loading */

#oc-search-result tr:hover {
    background-color: #FFFFCC;
}

#oc-search-result {
    overflow: visible;
}

#oc_flash-player {
    height:50px;
}

#scrubber-table {
    width: 100%;
    float: left;
    margin-top: -5px;
}

#oc_video-size-dropdown {
}

#oc_video-view {
    text-align: right;
    margin-top: 6px;
    height: 20px;
}

#analytics {
    z-index: 2;
}

#segmentstable1 {
    z-index: 1;
}

#oc_share-time-content, #oc_player-head-right, #data, #oc_video-view, #oc_checkbox-statistics, #oc_label-statistics, #oc_checkbox-annotations, #oc_label-annotations, #analytics, #annotation, #segments_ui_slider_data1, #segments_ui_slider_data2, #segments_ui_slider_information, #oc_ui_tabs, #oc_description, #oc_slides, #oc_slidetext, #oc_search-segment, #oc_search, #segment-tooltip, #oc_embed, #oc_player-head-see-more, #segments-table2, #oc_video-quality {
    display: none;
}

#logout {
  color: #A72123;
  text-decoration: none;
  display: none;
  float: right;
  margin-right: 0px;
  margin-bottom: 5px;
}

#logout:hover {
  text-decoration: underline;
}