<html>
<head>
<title>Hold for review</title>
<link rel="stylesheet" type="text/css" href="/admin/css/jquery-ui/jquery-ui.css" />
<link rel="stylesheet" type="text/css" href="/admin/css/jquery-ui/jquery-ui-admin.css" />
<link rel="stylesheet" type="text/css" href="/admin/css/admin.css" />
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/videoplayer.css">

<script type="text/javascript" src="/admin/js/jquery/jquery.js"></script>
<script type="text/javascript" src="/admin/js/jquery/jquery-ui.js"></script>
<script type="text/javascript" src="/admin/js/oc.utils.js"></script>
<script type="text/javascript" src="/admin/js/itunes_categories.js"></script>
<script type="text/javascript" src="/admin/js/oc.mediapackage.js"></script>
<script type="text/javascript" src="/admin/js/jquery.jqote2.js"></script>
<script type="text/javascript" src="/admin/js/jquery.xmlns.js"></script>
<script type="text/javascript" src="/admin/js/ext/shortcut.js"></script>
<script type="text/javascript" src="js/jquery/jquery.timefield.js"></script>
<script type="text/javascript" src="js/jquery/jquery.mhPlayer.js"></script>
<script type="text/javascript" src="js/synchronize-min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<script type="text/javascript" src="js/editor.js"></script>
<script type="text/javascript" src="js/ObjTree.js"></script>
<script type="text/javascript" src="js/jquery/jquery.workflowParser.js"></script>
<script type="text/javascript" src="js/jquery/jquery.mediapackageParser.js"></script>
<script type="text/javascript" src="js/jquery/jquery.smilParser.js"></script>
<script type="text/javascript" src="js/jquery/jquery.smilResponseParser.js"></script>
</head>
<body>
  <div>
    <div class="lectureInfo" style="">
      <h2 id="info-title"></h2>
      <h4 id="info-creator"></h4>
      <h4 id="info-series"></h4>
    </div>

    <div class="holdStateUI">
      <h1>Review/Trim Media</h1>

      <div id="videoContainer">
        <video id="videoPlayer">
	  Your browser does not support HTML5 video.
        </video>
      </div>
    </div>

    <script type="text/x-jqote-template" id="template">
        <![CDATA[
        <table border="1">
          <thead>
            <tr>
              <th class="ui-widget-header">Track</th>
              <th class="ui-widget-header">selected</th>
            </tr>
          </thead>
          <tbody>
            <% $.each(data[j].tracks, function(key, track ) { %>
            <tr>
              <td><%= track.type %></td>
              <td class="right"><input type="checkbox" checked="checked" id="chk/<%= track.id %>"/></td>
            </tr>
            <% }); %>
          </tbody>
        </table>
        ]]>
      </script>

    <script type="text/x-jqote-template" id="splitSegmentTemplate">
        <![CDATA[
          <% $.each(data[j].splits, function(index, split ) {
              split.id = index;
              var duration = previewTracks[0].duration / 1000.0;
              var begin = split.clipBegin;
              var end = split.clipEnd;
              var perc = (((end - begin) / duration) * 99.9).toFixed(5);
	      perc = (perc > 100) ? (perc / 1000) : perc;
          %>
            <div class="splitSegmentItem<%= !split.enabled ? ' splitSegmentDisabled disabled' : '' %>" 
                 id="splitSegmentItem-<%= index %>" 
                 style="width:<%= perc%>%" title="<%= split.description%>">
            </div>
          <% }); %>
      ]]>
      </script>

    <script type="text/x-jqote-template" id="splitElements">
      <![CDATA[
          <% $.each(data[j].splits, function(key, split ) { %>
          <div class="splitItem" id="splitItem-<%= key %>">
            <div id="splitItemDiv-<%= key %>" class="splitItemDiv<% if(!split.enabled) { %> disabled<% }%>">
	      <div class="splitItemBoxUp">
		<div class="splitNumber floatLeft">
                  <span><%= (key + 1) %></span>
		</div>
		<div class="splitText">
                  <span><%= formatTime(split.clipBegin) %></span> - <span><%= formatTime(split.clipEnd) %></span>
		</div>
	      </div>
	      <div class="splitItemBoxDown">
		<div class="segmentButtons"><!-- INSERT BUTTONS HERE --></div>
		<div class="splitRemoverDiv">
		  <div class="splitRemover">
                    <% if(split.enabled) { %>
                    <a title="Remove this item" class="splitRemoverLink" id="splitRemover-<%= key %>"></a>
                    <% } else { %>
                    <a title="Readd this item" class="splitAdderLink" id="splitAdder-<%= key %>"></a>
                    <% } %>
		  </div>
		</div>
	      </div>
            </div>
	  </div>
          <% }); %>
       ]]>
    </script>
    <div class="ui-helper-hidden" id="deleteDialog">
      <span>Remove this split item?</span>
    </div>

    <div class="clear"></div>

    <div id="waveformControls">
      <div id="slider-waveform-zoom"></div>
      <span id="zoomin" class="ui-icon ui-icon-zoomin"></span>
    </div>

    <div id="editor" class="form-box layout-centered ui-widget">
      <div id="boxes">
	<div id="leftBoxDescription">Segment list</div>
	<div id="rightBoxDescription">Shortcuts</div>
	<div class="clear"></div>
	<input type="hidden" id="splitUUID" style="display:none;" />
        <div id="leftBox">
	  <div id="segment_list_actions">
	    <span id="newTime"></span>
	    <input type="button" title="Clear segment split" value="Clear segment list" id="clearList" />
	  </div>
	  <div class="clear"></div>
	  <div id="splitElementsHolder"></div>
	</div>
	<!--
	<div id="bigMidBox">
          <div id="midBox">
            <div class="splitNumber">
              <span id="splitIndex">#</span>
            </div>
            <div id="descriptionDiv">
              <input type="hidden" id="splitUUID" />
              <div id="descriptionCurrentTimeDiv" class="ui-helper-hidden">
		<span>Current time:</span> <span id="descriptionCurrentTime" title="current time"></span><br />
              </div>
              <a id="clipBeginSet" class="frameButton" title="set current time as new inpoint"></a> <span class="clipItem" id="clipBegin"></span> - <span class="clipItem" id="clipEnd"></span> <a id="clipEndSet" class="frameButton" title="set current time as new outpoint"></a> <br />
              <label for="description">Description</label>
            </div>
          </div>
	  <div id="midBoxDescription2">Information</div>
          <div id="midBox2">
	    <div id="newTime"></div>
	    <div id="buttons">
              <input type="button" title="show all shortcuts" id="shortcuts" value="Shortcuts" />
              <input type="button" title="Clear segment split" value="Clear segment list" id="clearList" />
	    </div>
	  </div>
	</div>
	-->
        <div id="rightBox">
	  <table border="1">
            <tbody>
	      <tr>
		<td><span id="trim_play_pause"></span></td>
		<td>play/pause</td>
	      </tr>
	      <tr>
		<td><span id="trim_previous_frame"></span></td>
		<td>previous frame</td>
	      </tr>
	      <tr>
		<td><span id="trim_next_frame"></span></td>
		<td>next frame</td>
	      </tr>
	      <tr>
		<td><span id="trim_previous_marker"></span></td>
		<td>jump to previous marker</td>
	      </tr>
	      <tr>
		<td><span id="trim_next_marker"></span></td>
		<td>jump to next marker</td>
	      </tr>
	      <tr>
		<td><span id="trim_split_at_current_time"></span></td>
		<td>split at current time</td>
	      </tr>
	      <tr>
		<td><span id="trim_play_current_segment"></span></td>
		<td>play current segment</td>
	      </tr>
	      <tr>
		<td><span id="trim_play_current_pre_post"></span></td>
		<td>play current segment with 2s pre and post roll excluding deleted segments</td>
	      </tr>
	      <tr>
		<td><span id="trim_play_ending_of_current_segment"></span></td>
		<td>play ending of current segment</td>
	      </tr>
	      <tr>
		<td><span id="trim_set_current_time_as_inpoint"></span></td>
		<td>set current time as new inpoint of selected item
	      </tr>
	      <tr>
		<td><span id="trim_set_current_time_as_outpoint"></span></td>
		<td>set current time as new outpoint of selected item
	      </tr>
	      <tr>
		<td><span id="trim_delete_selected_segment"></span></td>
		<td>delete currently selected segment</td>
	      </tr>
	      <tr>
		<td><span id="trim_select_item_at_current_time"></span></td>
		<td>select segment at current time</td>
	      </tr>
            </tbody>
	  </table>
	</div>
      </div>
    </div>
    <div class="clear"></div>
    <div id="editorMetaData">
      <div class="form-box layout-centered ui-widget oc-ui-collapsible-widget" style="width: 680px;">
	<div class="form-box-head ui-widget-header ui-corner-top oc-ui-cursor collapse-control2">
          <div id="additional_icon" class="ui-icon ui-icon-triangle-1-e"></div>
          <div id="i18n_additional">Edit Metadata of this Recording</div>
          <div class="clear"></div>
      </div>
	<div class="form-box-content ui-widget-content ui-corner-bottom collapsable">
          <form action="">
            <ul class="oc-ui-form-list">
              <li><label class="scheduler-label" for="title" id="titleLabel" style="width: 15%;">
                  <span style="color: red;">* </span><span id="i18n_title_label">Title</span>:
		</label> <input type="text" id="meta-title" name="title" class="oc-ui-form-field requiredField dcMetaField"
				maxlength="255" /></li>
              <li><label class="scheduler-label" for="creator" id="creatorLabel" style="width: 15%;">
                  <span id="i18n_presenter_label">Presenter</span>:
		</label> <input type="text" name="creator" id="meta-creator" class="oc-ui-form-field dcMetaField" maxlength="255" /></li>
              <li id="seriesContainer"><label class="scheduler-label" for="series" id="seriesLabel"
					      style="width: 15%;">
                  <span id="i18n_series_label">Course/Series</span>:
		</label> <input type="text" class="oc-ui-form-field" id="series" name="series" maxlength="255"> <input
														   type="hidden" class="oc-ui-form-field" id="ispartof" name="ispartof"></li>
	      
	      
              <li><label class="scheduler-label" id="recordingDateLabel" style="width: 15%;">
                  <span id="i18n_date_label">Recording Date</span>:
		</label> <input type="text" size="10" id="recordDate" class="dcMetaField" name="created" /></li>
              <li><label class="scheduler-label" id="startTimeLabel" style="width: 15%;">
                  <span id="i18n_starttime_label">Start Time</span>:
		</label> <select id="startTimeHour">
		</select> <select id="startTimeMin">
              </select></li>
	      
              <li><label class="scheduler-label" for="keywords" id="keywordsLabel" style="width: 15%;">
                  <span id="i18n_keywords_label">Keywords / Tags</span>:
		</label> <input type="text" id="meta-keywords" name="keywords" class="oc-ui-form-field ocMetaField"
				maxlength="255" /></li>
              <li><label class="scheduler-label" for="license" id="licenseLabel" style="width: 15%;">
                  <span id="i18n_license_label">License</span>:
		</label> <select id="meta-license" name="license" class="oc-ui-form-field dcMetaField">
                  <option value="All Rights Reserved">All Rights Reserved</option>
                  <option value="Creative Commons 3.0: Attribution-NonCommercial-NoDerivs" selected="selected">Creative
                    Commons 3.0: Attribution-NonCommercial-NoDerivs</option>
              </select></li>
	      
              <li class="additionalMeta"><label class="scheduler-label" for="contributor" id="contributorLabel"
						style="width: 15%;">
                  <span id="i18n_dept_label">Contributor</span>:
		</label> <input type="text" class="oc-ui-form-field dcMetaField" name="contributor" id="meta-contributor"
				maxlength="255" /></li>
              <li class="additionalMeta"><label class="scheduler-label" for="subject" id="subjectLabel"
						style="width: 15%;">
                  <span id="i18n_sub_category">Category</span>:
		</label> <input type="text" class="oc-ui-form-field dcMetaField" name="subject" id="meta-subject" maxlength="255" /></li>
              <li class="additionMeta"><label class="scheduler-label" for="categorySelector"
					      id="categorySelectorLabel" style="width: 15%;">
                  <span id="i18n_sub_label">Subject</span>:
		</label> <select name="categorySelector" id="categorySelector" class="oc-ui-form-field"></select> <label
														     class="scheduler-label" for="category" id="categoryLabel" style="width: 15%;">
                  <span id="i18n_cat_label"></span>
		</label> <select name="category" id="category" class="oc-ui-form-field ocMetaField"></select></li>
              <li class="additionalMeta"><label class="scheduler-label" for="language" id="languageLabel"
						style="width: 15%;">
                  <span id="i18n_lang_label">Language</span>:
		</label> <select id="meta-language" name="language" class="oc-ui-form-field dcMetaField">
                  <option value="en" selected="selected">English</option>
                  <option value="fr">French</option>
                  <option value="de">German</option>
                  <option value="it">Italian</option>
                  <option value="es">Spanish</option>
              </select></li>
              <li><label class="scheduler-label" for="meta-language" id="meta-languageLabel" style="width: 15%;">
                  <span id="i18n_lang_label"></span></label>
                <input type="text" class="oc-ui-form-field dcMetaField" name="language" id="meta-language"
                       maxlength="255" /></li>
              <li class="additionalMeta"><label class="scheduler-label" for="rightsholder" id="rightsholderLabel"
						style="width: 15%;">
                  <span id="i18n_rights_label">Copyright</span>:
		</label> <input type="text" disabled=true class="oc-ui-form-field dcMetaField" name="rightsholder"
                id="rightsholder" maxlength="255" value="" /></li>
              <li class="additionalMeta"><label class="scheduler-label" for="description" id="descriptionLabel"
						style="width: 15%;">
                  <span id="i18n_desc_label">Description</span>:
		</label> <textarea name="description" id="meta-description" class="oc-ui-form-field dcMetaField" rows="5"
				   cols="10"></textarea></li>
            </ul>
          </form>
	</div>
      </div>
      
      <div class="form-box layout-centered ui-widget oc-ui-collapsible-widget" style="width: 680px;">
	<div class="form-box-head ui-widget-header ui-corner-top oc-ui-cursor collapse-control2">
          <div id="additional_icon" class="ui-icon ui-icon-triangle-1-e"></div>
          <div id="i18n_additional">Select Tracks</div>
          <div class="clear"></div>
	</div>
	<div class="form-box-content ui-widget-content ui-corner-bottom collapsable">
          <div class="ui-helper-hidden" id="trackError">At least one track needs to be selected</div>
          <form action="" id="trackForm"></form>
	</div>
      </div>
    </div>
    
    <div id="actions">
      <input id="continueButton" title="Continue processing this recording with any edits (metadata, trim points)"
        style="margin-left: 65px; margin-right: 16px; width: 160px;" onclick="continueWorkflow();" id="continueBtn"
        type="button" class="ui-button ui-corner-all" value="Continue processing" />
      <!-- a id="edit-link" class="secondaryButton">Edit metadata, then continue</a -->
      <a id="cancelButton" onclick="cancel()" title="Cancel" class="secondaryButton">Cancel</a>
    </div>
  </div>
</body>
</html>
