<section class="action-nav-bar">
    <admin-ng-nav></admin-ng-nav>
    <nav>
        <a href="#/dashboard/dashboard">Overview</a>
        <a href="#/dashboard/documentation" class="active">Documentation</a>
    </nav>
</section>

<div class="main-view stub">
    <div class="container">
        <div class="col">
            <h1>Services Documentation</h1>
            <ul>
                <li><a href="#">Access Control List Distribution REST Endpoint <strong>Docs</strong></a></li>
                <li><a href="#">Analytics REST Endpoint <strong>Docs</strong></a></li>
                <li><a href="#">Annotation REST Endpoint <strong>Docs</strong></a></li>
                <li><a href="#">Caption REST Endpoint <strong>Docs</strong></a></li>
                <li><a href="#">Capture Agent Admin REST Endpoint <strong>Docs</strong></a></li>
                <li><a href="#">Capture REST Endpoint <strong>Docs</strong></a></li>
                <li><a href="#">Composer REST Endpoint <strong>Docs</strong></a></li>
                <li><a href="#">Confidence Monitoring REST Endpoint <strong>Docs</strong></a></li>
                <li><a href="#">Download Distribution REST Endpoint <strong>Docs</strong></a></li>
                <li><a href="#">File Upload REST Endpoint <strong>Docs</strong></a></li>
                <li><a href="#">GStreamer Launch REST Endpoint <strong>Docs</strong></a></li>
                <li><a href="#">Ingest REST Endpoint <strong>Docs</strong></a></li>
                <li><a href="#">Media Inspection REST Endpoint <strong>Docs</strong></a></li>
                <li><a href="#">Mediapackage Manipulator REST Endpoint <strong>Docs</strong></a></li>
                <li><a href="#">Organization listing REST Endpoint <strong>Docs</strong></a></li>
                <li><a href="#">Provides a user directory <strong>Docs</strong></a></li>
                <li><a href="#">Role listing REST Endpoint <strong>Docs</strong></a></li>
                <li><a href="#">Runtime Information REST Endpoint <strong>Docs</strong></a></li>
                <li><a href="#">Scheduler REST Endpoint <strong>Docs</strong></a></li>
                <li><a href="#">Search REST Endpoint <strong>Docs</strong></a></li>
                <li><a href="#">Series REST Endpoint <strong>Docs</strong></a></li>
            </ul>
        </div><!-- col -->

        <div class="col">
            <h1>Release Notes</h1>
            <p>Covers "what's new", install/build instructions, known issues, and frequently asked questions . Please read these notes and the bug/feature reporting instructions before reporting any issues.</p>
            <ul>
                <li><a href="#"><strong>Release Documentation</strong></a></li>
                <li><a href="#"><strong>Release Notes</strong></a></li>
                <li><a href="#"><strong>FAQ</strong></a></li>
            </ul>
            <h1>Community Resources</h1>
            <ul>
                <li><a href="#"><strong>Mailing Lists and Communication</strong></a></li>
                <li><a href="#"><strong>Issue Tracker</strong> (report a bug, request a feature)</a></li>
            </ul>
        </div><!-- col -->

        <div class="col">
            <h1>Developer Links</h1>
            <p>Install and Configure</p>
            <ul>
                <li><a href="#"><strong>Matterhorn Core</strong></a></li>
                <li><a href="#"><strong>Capture Agent</strong></a></li>
                <li><a href="#"><strong>Distributed Deployment</strong></a></li>
                <li></li>
                <li><a href="#"><strong>Cookbooks</strong></a></li>
            </ul>
        </div>
    </div>
</div>
