ul.navigation {
  margin: 0; 
  padding: 0.2em;
  text-align: center;
}

ul.navigation li {
  list-style: none;
  display: inline;
  margin: 0.4em; 
  padding: 0;
}
.navigation {
 font-size: 14px;
}
#currentPage {
  font-weight: bold;
  color: #2D8F8B;
}
a {
  text-decoration: none;
  color:#666666;
}

a:hover {
  text-decoration: underline;
  color:#A72123;
}

#logout {color: white; text-decoration: none; float: right; margin-right: 25px; display: none;}
#logout:hover {text-decoration: underline;}