[Unit]
Description=Opencast
After=local-fs.target
After=network.target

[Service]
ExecStart=/usr/share/opencast/bin/start-opencast server
ExecStop=/usr/share/opencast/bin/stop-opencast
Restart=always
User=opencast

[Install]
WantedBy=multi-user.target
