<!-- theodul description plugin mobile mode -->
<div id="engage_basic_description">
    <% if(typeof title !== "undefined" ){ %>
    	<h3 id="engage_basic_description_title"> <%= title %> </h3>
    <% } %>
    <h4 id="engage_basic_description_info">
        <% if(typeof creator !== "undefined" ){ %>
        <div id="engage_basic_description_creator" class="engage_basic_description_wrap"><%= creator %></div>
        <% } %>
        <% if((typeof creator !== "undefined" ) && (typeof date !== "undefined" ) && (creator !== "")) { %>
        <div class="engage_basic_description_wrap">, &nbsp;</div>
        <% } %>
        <% if(typeof date !== "undefined" ){ %>
        <div id="engage_basic_description_date"><%= date %></div>
        <% } %>
    </h4>
    <hr>
</div>