<!-- theodul controls plugin desktop mode -->
<% if((typeof str_title !== "undefined")
   && (typeof str_noTitle !== "undefined")
   && (typeof str_creator !== "undefined")
   && (typeof str_contributor !== "undefined")
   && (typeof str_views !== "undefined")
   && (typeof str_series !== "undefined")
   && (typeof str_recordingDate !== "undefined")
   && (typeof str_description !== "undefined")
   && (typeof str_noDescriptionAvailable !== "undefined")) { %>
<!-- theodul tab description plugin desktop mode -->
<div id="engage_description_tab_content">
    <% if(typeof description !== "undefined" 
        && typeof title !== "undefined" 
        && typeof creator !== "undefined" 
        && typeof series !== "undefined" 
        && typeof contributor !== "undefined" 
        && typeof date !== "undefined") { %>
    <div class="descriptionTabLeft">
        <div class="description-item">
            <p class="description-item-header"><%= str_title %></p>
            <p class="description-item-body">
                <% if(title != "") { %>
                <%= title %>
                <% } else { %>
	        <p><%= str_noTitle %></p>
                <% } %>
            </p>
        </div>
        <% if(creator != "") { %>
        <div class="description-item">
            <p class="description-item-header"><%= str_creator %></p>
            <p class="description-item-body">
                <%= creator %>
            </p>
        </div>
        <% } %>
        <% if(contributor != "") { %>
        <div class="description-item">
            <p class="description-item-header"><%= str_presenter %></p>
            <p class="description-item-body">
                <%= contributor %>
            </p>
        </div>
        <% } %>
	<!--
        <% if(views != "") { %>
        <div class="description-item">
            <p class="description-item-header"><%= str_views %></p>
            <p class="description-item-body">
                <%= views %>
            </p>
        </div>
        <% } %>
	-->
    </div>
    <div class="descriptionTabRight">
        <% if(series != "") { %>
        <div class="description-item ">
            <p class="description-item-header"><%= str_series %></p>
            <p class="description-item-body">
                <%= series %>
            </p>
        </div>
        <% } %>
        <% if(date != "") { %>
        <div class="description-item">
            <p class="description-item-header"><%= str_recordingDate %></p>
            <p class="description-item-body">
                <%= date %>
            </p>
        </div>
        <% } %>
        <% if(description != "") { %>
        <div class="description-item">
            <p class="description-item-header"><%= str_description %></p>
            <p class="description-item-body">
                <%= description %>
            </p>
        </div>
        <% } %>
    </div>
    <div class="clear"></div>
    <% } else { %>
    <%= str_noDescriptionAvailable %>
    <% } %>
</div>
<% } %>
