<div ng-click="enterEditMode()" ng-form="innerForm">
    <ul ng-show="!editMode">
        <li ng-repeat="value in params.value">
            <span ng-if="value">{{ getText(value) | translate }}</span>
        </li>
    </ul>

    <i class="edit fa fa-pencil-square" ng-show="!editMode"></i>
    <i class="saved fa fa-check" ng-show="!editMode" ng-class="{ active: params.saved }"></i>

    <div ng-show="editMode">
        <input type="text" ng-blur="leaveEditMode()" ng-required="params.required"
            list="data-list" ng-keyup="keyUp($event)" name="{{ params.name }}"
            ng-model="value">
        <datalist id="data-list">
            <option ng-repeat="(item, label) in collection"
                value="{{ item }}">
                {{ label | translate }}
            </option>
        </datalist>
    </div>
    <span ng-show="editMode" class="ng-multi-value"
        ng-repeat="value in params.value">
        {{ getText(value) | translate }}
        <a ng-mousedown="removeValue(params.value, value)">
            <i class="fa fa-times"></i>
        </a>
    </span>
</div>
