/*theodul video videojs plugin, mobile mode styles*/
#content-box {
	padding-top: 2%
}
#engage_content {
/*	margin-left: auto;
	margin-right: auto;
	*/
}
/*.videoDisplay:nth-child(even) {
	float: right;
}
.videoDisplay:nth-child(odd) {
	float: left;
	padding-right: 2%;
}*/

.displayWrapper {
	height: inherit;
}
.resizeDemo {
	border: 2px solid black;
}
@media screen and (orientation:landscape) {
	.mobileVideoBox {
		float:left;
		width: 49% !important;
	}
	.mobileVideoBox:nth-child(2) {
		float:right;
	}
}

@media screen and (orientation:portrait) {
	.mobileVideoBox {
		width: 98%;
		margin-bottom: 10px;
	}
}

.triangle-down-right {
    width: 25%;
    height: 0;
    padding-top:25%;
    overflow: hidden;
}
.triangle-down-right:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-top:-500px;
     
    border-top: 500px solid transparent;
    border-right: 500px solid #4679BD;
}