/*theodul video videojs plugin, mobile mode styles*/
#content-box {
	padding-top: 2%
}
#engage_content {
/*	margin-left: auto;
	margin-right: auto;
	*/
}
/*.videoDisplay:nth-child(even) {
	float: right;
}
.videoDisplay:nth-child(odd) {
	float: left;
	padding-right: 2%;
}*/

.displayWrapper {
	height: 100%;
}

@media screen and (orientation:landscape) {
	.mobileVideoBox {
		float:left;
		width: 49% !important;
		height: 100% !important;
	}
	.mobileVideoBox:nth-child(2) {
		float:right;
	}
}

@media screen and (orientation:portrait) {
	.mobileVideoBox {
		width: 98% !important;
		margin-bottom: 10px;
	}
}
