.videojs_wrapper {
    width: 100%;
    position: relative;
    margin: 0 auto;
}

.videoDisplay {
    float: left;
    width: 47%;
    margin: 10px;
}

.videoFrame {
    width: 100%;
    height: 100%;
}

/*
@media (max-width:800px) {
    .videoDisplay {
        float: none;
        width: 80%;
        margin: 0 auto;
        padding-bottom: 10px;
    }
}
*/

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.video-js.auto-height {
    height: 0 !important;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    max-width: 100%;
    width: auto !important;
}
