<!-- theodul video videojs plugin desktop mode -->
<div class="videojs_wrapper clearfix">
    <% if(typeof ids !== "undefined") { var i = 1;%>
      <% _.each(ids, function(id) { %>
        <div class="videoDisplay">
          <div id="videoDisplay<%= i%>_wrapper" class="videoFrame">
	    <% if(typeof type !== "undefined") { %>
	      <% if(type == "audio") { %>
                <audio id="<%= id %>" class="video-js vjs-playback-rate vjs-default-skin vjs-audio container" data-setup="{}"></audio>
	      <% } else { %>
                <video id="<%= id %>" class="video-js vjs-playback-rate vjs-default-skin container" data-setup="{}"></video>
	      <% } %>
	    <% } else { %>
              <video id="<%= id %>" class="video-js vjs-playback-rate vjs-default-skin container" data-setup="{}"></video>
	    <% } %>
          </div>
        </div>
      <% i++;}); %>
    <% } %>
</div>
