/*theodul controls plugin, mobile mode styles*/
#slider {
	/*margin: 15px 20px 0px;*/
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	/*border-radius: 25px;*/
	height: 3px;
	background-color: #FBB900;
	/*background: url('../images/bg-track.png') repeat top left;
	box-shadow: inset 0 1px 5px 0px rgba(0, 0, 0, .5), 0 1px 0 0px
		rgba(250, 250, 250, .5);*/
}

.ui-slider-handle {
	/*position: absolute;*/
	z-index: 2;
	width: 25px !important;
	height: 25px !important;
	cursor: pointer !important;
	background: url('../images/handle.png') no-repeat 50% 50% !important;
	font-weight: bold;
	color: #1C94C4;
	outline: none;
	border: none !important;
	top: -10px !important;
	margin-left: -12px;
}

.ui-slider-range {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #eaeaea 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff),
		color-stop(100%, #eaeaea)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%, #eaeaea 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%, #eaeaea 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%, #eaeaea 100%);
	/* IE10+ */
	background: linear-gradient(top, #ffffff 0%, #eaeaea 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#ffffff',
		endColorstr='#eaeaea', GradientType=0); /* IE6-9 */
	/*position: absolute;*/
	border: 0;
	top: 0;
	height: 100%;
	border-radius: 25px;
}
