html {
  font:13px/1.231 arial,helvetica,clean,sans-serif;
}

body {
  font-size: 1.15em;
  font-weight: bold;
  margin: 0px;
  padding: 20px;
}

#container {
  margin: 20px auto 0px auto;
}

#page_tab {

}

#page_tab ul {
 padding-left: 10px;
 margin: 0px;
}

#page_tab li {
  display: inline-block;
  border-left: 1px solid black;
  border-top: 1px solid black;
  padding: 3px 15px 3px 15px;
  margin-left: -4px;
}

#page_tab a {
  text-decoration: none;
}

.device_tab {
  padding: 10px 0px 0px 28px;
  margin: 0px;
}

.device_tab li {
  display: inline-block;
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-right: 1px solid black;
  margin-left: -6px;
  padding: 3px 15px 3px 15px;
}

.tab {
  background-color: #666666;
  color: #FFFFFF;
  cursor: pointer;
}

.tab:hover {
  background-color: #333333;
}

.tab a {
  color: #FFFFFF;
}

.selected {
  background-color: #FFFFFF;
  color: #000000;
}

.selected:hover {
  background-color: #DDDDDD;
}

.selected a {
  color: #000000
}

#preview_area {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 10px;
  border: 1px solid black;
  height:480px;
}

#content_area {
  border: 1px solid black;
  height: 530px;
}

#pageHeader {
  background-color:#F6921E;
  color:#FFFFFF;
  font-size:0.8em;
  left:0;
  line-height:20px;
  position:absolute;
  text-align:left;
  top:0;
  width:100%;
}

#audio_preview {
  display: inline-block;
}

#video_preview {
  display: inline-block;
  float: left;
}

.meter_mask {
  vertical-align: top;
  width: 40px;
  height: 0px;
}

.audio_meter {
  height: 480px;
  width: 40px;
  display: inline-block;
  background-image: url('../img/meter.gif');
}