body {
  font-size: 14px;
  font-family: sans-serif;
  margin: 1rem;
}

div.loading {
  margin: 50px;
  padding: 50px;
  text-align: center;
  color: #666;
}

.searchfield {
  margin: 30px;
}

#item-form-submit {
  display: none;
}

.selectitem {
  margin-top: 0.25rem;
}

.seriesindicator {
  height: 1rem;
  width: 100%;
}

.tile {
  width: 100%;
  display: inline-block;
  margin-bottom: 2rem;
  border: 1px solid gray;
}

.tile #opencast-thumbnail {
    width: 100% !important;
    max-height: 100%;
}
