/**
 * Licensed to The Apereo Foundation under one or more contributor license
 * agreements. See the NOTICE file distributed with this work for additional
 * information regarding copyright ownership.
 *
 *
 * The Apereo Foundation licenses this file to you under the Educational
 * Community License, Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a copy of the License
 * at:
 *
 *   http://opensource.org/licenses/ecl2.txt
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.  See the
 * License for the specific language governing permissions and limitations under
 * the License.
 *
 */


// Timeline styles
// ----------------------------------------

// Layout
$right-margin: 1.5%;
$track-options-width: 10%;

// Output
$track-label-width: (100% - $right-margin) - $track-options-width;

.video-timeline {
    background: #fff;
    border: $thin-border-stroke $main-border-color;

    &>div {
        margin-top: 5px;
        background: #fff;
        padding: 5px 10px;
    }

    label {
        color: $medium-prim-color;
        font-size: 10px;
        font-weight: $weight-semibold;
        line-height: 12px;
        display: inline-block;
    }

    .track-container {
        position: relative;

        .track-toolbar {
            @include clearfix();
            margin-bottom: 5px;

            .track-label,
            .track-options {
                float: left;
            }

            .track-label {
                width: $track-label-width;
                margin-right: $right-margin;
                font-size: 10px;
                line-height: 12px;
                font-weight: $weight-semibold;
                color: $medium-prim-color;
            }

            .track-options {
                width: $track-options-width;
            }

            .track-options-button {
                @include btn(white);
                padding: 1px 4px;
                float: right;
                @include fa-icon($fa-var-cog, before, inline-block, 0, 0, $medium-prim-color, 10px, normal, 0);
                &:before {
                    vertical-align: middle;
                }
            }
        }

        .timeline-track {
            margin-bottom: 5px;
            overflow: hidden;
            padding-bottom: 10px;

            &>div:last-child {
                border-left: 1px solid $dark-bg-border-color;
                border-right: 1px solid $dark-bg-border-color;
                overflow: hidden;
            }

            $segment-border-radius: 2px;
            $segment-heidght: 50px;

            .segments {
                // background image set inline
                overflow: hidden;
                background-repeat: no-repeat;
                background-size: 100% $segment-heidght;
                height: $segment-heidght;
                // needed for zoom offset
                position: relative;

                .segment-container {
                    float: left;
                    height: $segment-heidght;

                    .segment-seperator {
                          background-color: red; /*transparent;*/
                          height: $segment-heidght;
                          width: 9px;
                          float: left;
                          position: relative;
                          left: -4px;
                          z-index: $z-100;
                          cursor: ew-resize;
                          opacity: 0.5;
                    }

                    &:first-child .segment-seperator {
                        display: none;
                    }

                    .segment-seperator.active:before {
                        background: $color-black none repeat scroll 0 0;
                        content: "";
                        display: block;
                        height: $segment-heidght;
                        margin-left: 4px;
                        width: 1px;
                    }

                    .segment {
                        height: $segment-heidght;
                        color: #666666;
                        padding-right: 5px;
                        text-align: right;
                        background: rgba(193, 215, 238, 0.5);
                        border: $thin-border-stroke #71b1f3;
                        transition-property: background-color, background, border;
                        transition-duration: 250ms;
                        transition-timing-function: ease;

                        a {
                            color: $l-blue;
                            line-height: 20px;

                            &.remove {
                                @include fa-icon($fa-var-times, before, inline, 0 0 0 0, 0, $l-blue, 12px);
                            }
                        }


                        &.selected {
                            background: rgba(106, 183, 236, 0.5);
                            border: $thin-border-stroke darken(#71b1f3, 2%);

                            a.remove {
                                @include fa-icon($fa-var-times, before, inline, 0 0 0 0, 0, darken($l-blue, 2%), 12px);
                            }
                        }

                        &.deleted {
                            background-color: rgba(243, 89, 82, 0.5);
                            border: $thin-border-stroke #f35952;

                            a.remove {
                                @include fa-icon($fa-var-times, before, inline, 0 0 0 0, 0, rgba(0,0,0,0.4), 12px);
                            }
                        }
                    }

                    &:first-child .segment {
                        border-left: none;
                    }

                    &:not(:last-child) .segment {
                        border-right: none;
                    }
                }
            }
        }

        & > div:nth-last-of-type(2) {
             border-bottom: 1px solid $main-border-color;
        }

        #cursor {
            width: 1px;
            height: 100%;
            background-color: #fb6257;
            position: absolute;
            top: 0;
            z-index: $z-80;

            $handle-size: 14px;
            .handle {
                bottom: ($handle-size/-2) + 1;
                left: ($handle-size/-2);
                width: $handle-size;
                height: $handle-size;
                border-radius: $handle-size;
                background-color: #c13832;
                position: absolute;
                cursor: grab;
            }

            &.active {
                .handle {
                    cursor: grabbing;
                }
            }
        }
    }

    .timeline-control {

        .zoom-title {
            margin-top: 10px;

            &>label {

                font-size: 11px;
                line-height: 13px;
                padding-top: 1px;
                margin-bottom: 5px;
                width: 30%;
            }
            .zoom-control {
                float: right;
                margin-top: -4px;

                &>label {
                    float: left;
                    padding-top: 2px;
                }

                input[type=range] {
                    width: 400px;
                }

                .chosen-container {
                    top: -7px;
                }
            }
        }

        .field-of-vision {
            border: 1px solid $main-border-color;
            overflow: hidden;
            position: relative;
            width: 100%;
            z-index: 100;

            &::before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              opacity: .18;
              z-index: -1;
              background-image: url("http://mediadev.uct.ac.za/static/mh_default_org/internal/fee2536b-5b14-4584-8d00-e986b3d934ef/7bc5fc71-10dc-445e-9fc1-395580f26261/waveform.png");
              background-size: 100% 25px;
              background-position: top left;
              background-repeat: no-repeat;
            }

            .field {
                background: rgba(106, 183, 236, 0.5) none repeat scroll 0% 0%;
                height: 24px;
                position: relative;
                cursor: grab;

                &.active {
                    cursor: grabbing;
                }
            }

            .boundary {
                color: #2F88D2;
                position: absolute;
                top: 0px;
                line-height: 24px;
                padding: 0px 5px;

                &.from {
                    left: 0px;
                }

                &.to {
                    right: 0px;
                }
            }

            .small {
                .boundary {

                     &.from {
                        right: 100%;
                        left: auto;
                    }

                    &.to {
                        left: 100%;
                        right: auto;
                    }
                }
            }
        }

        .footer {
             &>span {
                font-size: 11px;
                color: #aaa;
                padding: 2px 0px;
                float: left;
            }
            &>span:last-child {
                float: right;
            }
        }

        .boundaries {
            background: rgba(106, 183, 236, 0.5);
            position: absolute;
            top: 0px;
            line-height: 20px;

        }
    }
}
