html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body, html {
    font-family: "Open Sans", Helvetica, sans-serif;
}

body {
    background: #fafafa none repeat scroll 0 0;
    background-image: radial-gradient(#fafafa, #d8dfe4);
    font-size: 14px;
    line-height: 1;
}

body, html {
    min-height: 100%;
    min-width: 100%;
}

button {
    display: inline-block;
    font-size: 12px;
    height: 39px;
}

.form-container .row::after, .form-container::after {
    content: "";
}

.form-container {
    margin: 15px 0;
    max-width: 100%;
    padding: 0;
}

.form-container::after {
    clear: both;
    display: table;
}

.form-container:first-child {
    margin-top: 0;
}

.form-container:last-child {
    margin-bottom: 0;
}

.form-container label {
    color: #666;
}

.form-container .row {
    display: block;
    margin: 15px 0;
    width: 100%;
}

.form-container .row::after {
    clear: both;
    display: table;
}

.form-container .row:first-child {
    margin-top: 0;
}

.form-container .row:last-child {
    margin-bottom: 0;
}

.form-container .row input, .form-container .row label {
    display: block;
}

.form-container .row input {
    float: none;
}

.form-container .row .chosen-container, .form-container .row .drop-down-container, .form-container .row input, .form-container .row textarea {
    margin-top: 10px;
}

.form-container .row .checkbox-container.one-line input[type="checkbox"], .form-container .row .checkbox-container.one-line label {
    display: inline-block;
    width: auto;
}

.form-container .row .checkbox-container.one-line input[type="checkbox"] {
    margin-right: 5px;
}

.form-container .row .inline-content > label {
    display: inline-block;
    float: left;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 14px;
}

input.login-input {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #c9d0d3;
    border-radius: 4px;
    color: #666;
    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 600;
    height: 50px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
    padding-left: 50px;
    width: 100%;
}

input.login-input:-moz-placeholder, input.login-input::-moz-placeholder {
    color: #a6a6a6;
}

input.login-input:hover {
    border: 1px solid #919fa5;
}

input.login-input:focus {
    border: 1px solid #378dd4;
}

.error #username, .error #password {
    border: 1px solid #e45253;
    color: #fa1919;
}

input#username {
    background-image: url("../img/user-input-icon.png");
    background-position: 14px center;
    background-repeat: no-repeat;
}

input#password {
    background-image: url("../img/key-icon.png");
    background-position: 19px center;
    background-repeat: no-repeat;
}

.login-container {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #c9d0d3;
    border-radius: 4px;
    height: auto;
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: 150px;
    max-width: 490px;
    padding: 40px 60px;
}

.login-container .login-form form {
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.login-container .login-form form input {
    margin: 0;
}

.login-container .login-form form p {
    color: #666;
    font-size: 25px;
    font-weight: 100;
    padding-bottom: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.login-container .login-form form p .subtle-text {
    color: #a6a6a6;
    font-size: 12px;
    font-weight: 600;
}

#error-container {
    display: none;
    background: #fb4b4b none repeat scroll 0 0;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
    margin: -10px 0 20px;
    padding: 10px 0;
}

.error #error-container {
    display: block !important;
}

.login-container .login-form form .form-container label {
    color: #666;
    cursor: pointer;
    font-size: 13px;
    line-height: 18px;
    margin-left: 10px;
}

.login-container .login-form form .submit {
    background: #378dd4 none repeat scroll 0 0;
    border: medium none;
    border-radius: 4px;
    color: #fff;
    display: block;
    height: 48px;
    text-align: center;
    transition: all 0.2s ease 0s;
    width: 100%;
}

.login-container .login-form form .submit:hover {
    background: #4c99d9 none repeat scroll 0 0;
}

.login-container .login-nav {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: -40px;
}

.remember-me {
    text-align: center;
}

.remember-me input#remember {
    display: inline !important;
    width: auto;
}

.remember-me label {
    display: inline !important;
    line-height: 20px;
    margin: 4px 0 0 10px;
}
