/* Defaults */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
img{border:0;}
html{overflow:auto;font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;}
ul,li {list-style: none;}
:focus { outline: 1px #999 solid; }
/* Containers/Layout */
.layout-page-container {

}

.layout-page-header {
  padding-left: 20px;
  padding-right: 20px;
}

.layout-page-content {
  padding-left: 20px;
  padding-right: 20px;
}

/* Page Tabs */
.layout-page-tabs {
  margin: -1em 0 0 0;
  padding-left: 12em;
}

.layout-page-tabs li {
  display: inline-block;
  list-style-type: none;
  padding: 3px 16px 2px;
  margin-bottom: -1px;
}

/* Layout Helpers */
.layout-float-left {
  float: left;
}

.layout-float-right {
  float: right;
}

.layout-inline {
  display: inline-block;
}

.layout-valign-top {
  vertical-align: top;
}

.layout-valign-bottom {
  vertical-align: bottom;
}

.layout-centered {
  margin-left: auto;
  margin-right: auto;
}