/*theodul video videojs plugin, mobile mode styles*/
#content-box {
	padding-top: 2%
}

.displayWrapper {
	height: 100%;
}

@media screen and (orientation:landscape) {
	.mobileVideoBox {
		float:left;
		width: 95% !important;
		height: 95% !important;
	}
	.mobileVideoBox:nth-child(2) {
		float:right;
	}
}

@media screen and (orientation:portrait) {
	.mobileVideoBox {
		width: 98% !important;
		margin-bottom: 10px;
	}
}
