<div class="form-box-head ui-widget-header ui-corner-top oc-ui-cursor unfoldable-header">
    <div class="ui-icon unfoldable-icon ui-icon-triangle-1-e"></div>
    <div id="i18n_additional" class="collapse">Additional Dublin Core Metadata</div>
    <label for="enable_button">&nbsp;Disable</label><input type="checkbox" id="enable_button"/>
    <div class="clear"></div>
</div>

<div class="form-box-content ui-widget-content ui-corner-bottom unfoldable-content">
    <ul class="oc-ui-form-list">
      <li class="additionalMeta">
        <label class="scheduler-label" for="contributor" id="contributorLabel"><span id="i18n_dept_label">Contributor</span>:</label>
        <input type="text" class="oc-ui-form-field dc-metadata-field" name="contributor" value="${catalog.getValue('contributor')}" id="contributor"/>
      </li>

      <li class="additionalMeta">
        <label class="scheduler-label" for="subject" id="subjectLabel"><span id="i18n_sub_label">Subject</span>:</label>
        <input type="text" class="oc-ui-form-field dc-metadata-field" name="subject" value="${catalog.getValue('subject')}" id="subject " />
      </li>
      <li class="additionalMeta">
        <label class="scheduler-label" for="language" id="languageLabel"><span id="i18n_lang_label">Language</span>:</label>
        <input type="text" class="oc-ui-form-field dc-metadata-field" name="language" value="${catalog.getValue('language')}" id="language" />
      </li>
      <li class="additionalMeta">
        <label class="scheduler-label" for="description" id="descriptionLabel"><span id="i18n_desc_label">Description</span>:</label>
        <textarea name="description" id="description" class="oc-ui-form-field dc-metadata-field" rows="5" cols="10">${catalog.getValue('description')}</textarea>
      </li>
      <li class="ui-helper-clearfix">
        <label class="scheduler-label"><span id="i18n_dc_license">License</span>:</label>
        <input id="license" class="oc-ui-form-field dc-license-field" name="license" value="${catalog.getValue('license')}" />
      </li>
      <li class="ui-helper-clearfix">
        <label class="scheduler-label"><span id="i18n_dc_copyright">Copyright</span>:</label>
        <input id="copyright" class="oc-ui-form-field dc-copyright-field" name="copyright" value="${catalog.getValue('copyright')}" />
      </li>
    </ul>
</div>