[Unit]
Description=Opencast
After=local-fs.target
After=network.target
After=remote-fs.target
Documentation=https://docs.opencast.org

[Service]
ExecStart=/opt/opencast/bin/start-opencast server
ExecStop=/opt/opencast/bin/stop-opencast
Restart=always
User=opencast

[Install]
WantedBy=multi-user.target
