<section class="modal active modal-open" id="edit-series-status-modal" style="display: block;" ng-controller="EditStatusCtrl">
  <header>
    <a ng-click="close()" class="fa fa-times close-modal"></a>
    <h2 translate="BULK_ACTIONS.EDIT_STATUS.CAPTION"><!-- Edit Status --></h2>
  </header>

  <div class="modal-content active">
    <div class="modal-body">
      <div class="full-col">
        <div class="obj" ng-form="TableForm">
          <header translate="EVENTS.EVENTS.TABLE.CAPTION"><!-- Events --></header>
          <div class="obj-container">
            <table class="main-tbl">
              <thead>
                <tr>
                  <th class="small"><input type="checkbox" ng-model="allSelected" ng-change="allSelectedChanged()" class="select-all-cbox"></th>
                  <th translate="EVENTS.SERIES.TABLE.TITLE"><!-- Series --></th>
                  <th translate="EVENTS.SERIES.TABLE.CREATORS"><!-- Organizers --></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="row in rows">
                  <td><input ng-required="!hasAnySelected()" type="checkbox" ng-model="row.selected" ng-change="rowSelectionChanged($index)" class="child-cbox"></td>
                  <td>{{ row.title }}</td>
                  <td>{{ row.organizers }}</td>
                </tr>
              </tbody>
            </table>

          </div><!-- obj-container -->

        </div><!-- obj -->

        <div class="obj quick-actions">

          <header class="no-expand">Change Status</header>

          <div class="obj-container padded">

            <div class="form-container">
              <div class="row">
                <input type="radio" name="execute-toggle" id="executeNow-toggle" ng-model="status" ng-change="changeStatus(false)" value="false" >
                <label translate="BULK_ACTIONS.EDIT_STATUS.READY_FOR_RECORDING" for="executeNow-toggle">
                  <!-- Ready for recording -->
                </label>
              </div>
              <div class="row">
                <input type="radio" name="execute-toggle" id="executeLater-toggle" ng-model="status" ng-change="changeStatus(true)" value="true" >
                <label translate="BULK_ACTIONS.EDIT_STATUS.OPTED_OUT" for="executeLater-toggle">
                  <!-- Opted out -->
                </label>
              </div>
            </div>

          </div><!-- obj-container -->

        </div><!-- obj -->

      </div><!-- full-col -->
    </div> 
  </div><!-- modal-content -->

  <footer>
    <a ng-class="{active: valid(), disabled: !valid()}" ng-click="submit()" class="submit">Update</a>
    <a ng-click="close()" class="cancel">Cancel</a>
  </footer>
</section>
