.modal#group-modal {
   @extend .medium-modal; //small-modal

   .multi-select-col, .multi-select-search {
        width: 47%;

        input.search {
            width: 85%;
        }

        a.clear {
            margin-top: 10px;
        }
    }

    .exchange-icon::after {
        width: 6%;
    }
}
