.modal#user-modal {
    @extend .medium-modal; //small-modal

    .modal-nav {

        & > a {
            padding: 1.2em;
            width: auto;

           &.active::before,
           &.active::after {
                right: calc(50% - 8px);
           }
        }

    }
    .modal-body {
        min-height: 31em;

        .multi-select-col, .multi-select-search {
            width: 47%;
        }

        .exchange-icon::after {
            width: 6%;
        }
    }
}
