.engage_description_tab_entry {
  
}
#engage_description_tab_content {
	width: 60%;
	padding-top: 10px;
}

.description-item {
}

.description-item-header {
	font-size: 1.2em;
	font-weight: bold;
}

.description-item-body {
	margin-left: 8px;
	padding-bottom: 10px;
}