<!-- theodul tab description plugin desktop mode -->
<div id="engage_description_tab_content">
    <% if(typeof description !== "undefined" 
        && typeof title !== "undefined" 
        && typeof creator !== "undefined" 
        && typeof series !== "undefined" 
        && typeof contributor !== "undefined" 
        && typeof date !== "undefined") { %>
    <div class="descriptionTabLeft">
        <div class="description-item">
            <p class="description-item-header lang_title">Title</p>
            <p class="description-item-body">
                <% if(title != "") { %>
                <%= title %>
                <% } else { %>
	        <p class="lang_noTitle">No title</p>
                <% } %>
            </p>
        </div>
        <% if(creator != "") { %>
        <div class="description-item">
            <p class="description-item-header lang_creator">Creator</p>
            <p class="description-item-body">
                <%= creator %>
            </p>
        </div>
        <% } %>
        <% if(contributor != "") { %>
        <div class="description-item">
            <p class="description-item-header lang_presenter">Presenter</p>
            <p class="description-item-body">
                <%= contributor %>
            </p>
        </div>
        <% } %>
        <% if(views != "") { %>
        <div class="description-item">
            <p class="description-item-header lang_views">Views</p>
            <p class="description-item-body">
                <%= views %>
            </p>
        </div>
        <% } %>
    </div>
    <div class="descriptionTabRight">
        <% if(series != "") { %>
        <div class="description-item ">
            <p class="description-item-header lang_series">Series</p>
            <p class="description-item-body">
                <%= series %>
            </p>
        </div>
        <% } %>
        <% if(date != "") { %>
        <div class="description-item">
            <p class="description-item-header lang_recordingDate">Recording Date</p>
            <p class="description-item-body">
                <%= date %>
            </p>
        </div>
        <% } %>
        <% if(description != "") { %>
        <div class="description-item">
            <p class="description-item-header lang_description">Description</p>
            <p class="description-item-body">
                <%= description %>
            </p>
        </div>
        <% } %>
    </div>
    <div class="clear"></div>
    <% } else { %>
    <p class="lang_noDescriptionAvailable">No description available.</p>
    <% } %>
</div>
