
# If false a user will not be able to delete a series containing events in Admin UI
# Note: Have a look at org.opencastproject.ui.metadata.CatalogUIAdapterFactory-episode-common.cfg
#       property.series.required=false if you want to configure if a event has to have a series
# Default: true
#series.hasEvents.delete.allow=true

# If this property is true, we only see the series to which we have write access
# to in the series tab.
# Default: true
#seriesTab.onlySeriesWithWriteAccess=true

# If this property is true, we only see the series to which we have write access
# to in the events filter.
# Default: true
#eventsFilter.onlySeriesWithWriteAccess=true

# The base URL of the Tobira instance you want to be able to publish series to.
# You need to configure this for the Tobira panel to show up in the series creation wizard.
#tobira.origin=http://localhost:3080

# A shared secret between Tobira and Opencast to get authenticated access to the
# `mount`-API. See also the `auth.trusted_external_key` configuration option in your
# Tobira configuration.
# You need to configure this for the Tobira panel to show up in the series creation wizard.
#tobira.trustedKey=tobira
